<header>
    <style type="text/css">
        {{partial "css_scripts/homeSection/about_us.css" . | safeCSS}}
    </style>
</header>

<section id="about_us" class="home-section">
    <div class="container">
        {{$section := "about_us"}}
        {{$fields:= (index $.Site.Data.layouts (index .Params $section).headline_layout).headline_elements}}
        {{$content := (index .Params $section).headline}}
        {{partial "functions/render_content_layout_fields.html" (dict "fields" $fields "content" $content "scratch" .Scratch)}}

        <div class="row" itemprop="author" itemscope itemtype="http://schema.org/Person">
            <div id="profile">
                {{ if isset $.Params.about_us.descriptor "logo_image" }}
                    <div class="portrait" style="background-image: url('{{ ($.Params.about_us.descriptor.logo_image) | relURL }}');"></div>
                {{ end }}

                <div class="portrait-title">
                    {{ if isset $.Params.about_us.descriptor "name_title" }}
                        <h2 itemprop="name_title">
                            {{ $.Params.about_us.descriptor.name_title }}
                        </h2>
                    {{ end }}
                    {{ if isset $.Params.about_us.descriptor "name_subtitle" }}
                        <h3 itemprop="name_subtitle">
                            {{ $.Params.about_us.descriptor.name_subtitle }}
                        </h3>
                    {{ end }}

                    {{ range $.Params.about_us.descriptor.affiliations }}
                        <h3 itemprop="affiliations" itemscope itemtype="http://schema.org/Organization">
                            {{ with .url }}<a href="{{ . }}" target="_blank" itemprop="url" rel="noopener">{{ end }}
                            <span itemprop="name">{{ .name }}</span>
                            {{ if .url }}</a>{{ end }}
                        </h3>
                    {{ end }}
                </div>
                <ul class="network-icon" aria-hidden="true">
                    {{ range $.Params.about_us.descriptor.social }}
                        <li>
                            <a href="{{ .link | safeURL }}" target="_blank" rel="noopener">
                                <i class="{{ .icon_pack }} {{ .icon }} big-icon"></i>
                            </a>
                        </li>
                    {{ end }}
                </ul>
            </div>
            {{if isset $.Params.about_us.detail "title" }}
                <h1 id="title">
                    {{ $.Params.about_us.detail.title }}
                </h1>
            {{ end }}
            {{if isset $.Params.about_us.detail "content" }}
                <div class = "content">
                    {{ replace $.Params.about_us.detail.content "                " "" | markdownify | emojify }}
                </div>
            {{ end }}

        <div class="flex">
            <div id="about_us_left_list">
                {{if isset $.Params.about_us.detail.bottom_left "title" }}
                    <h3>{{ $.Params.about_us.detail.bottom_left.title }}</h3>
                {{ end }}
                {{if isset $.Params.about_us.detail.bottom_left "list" }}
                    <ul class="ul-about_us_left_list">
                        {{ range $.Params.about_us.detail.bottom_left.list }}
                            <li>
                                <i class="fa-li fa {{ .icon }}"></i>
                                <div class="description">
                                    <p class="title">{{ .title }}</p>
                                    <p class="subtitle">{{ .subtitle }}</p>
                                </div>
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>

            <div id="about_us_right_list">
                {{if isset $.Params.about_us.detail.bottom_right "title" }}
                    <h3>{{ $.Params.about_us.detail.bottom_right.title }}</h3>
                {{ end }}
                {{if isset $.Params.about_us.detail.bottom_right "list" }}
                    <ul class="ul-about_us_right_list">
                        {{ range $.Params.about_us.detail.bottom_right.list }}
                            <li>
                                <i class="fa-li fa {{ .icon }}"></i>
                                <div class="description">
                                    <p class="title">{{ .title }}</p>
                                    <p class="subtitle">{{ .subtitle }}</p>
                                </div>
                            </li>
                        {{ end }}
                    </ul>
                {{ end }}
            </div>
        </div>
    </div>
</section>
