<section id="contact-home" class="home-section">
    <div class="container">
        {{partial "functions/render_fields.html" (dict "fields" $.Params.contact.headline_elements "scratch" .Scratch)}}
        <!-- Contact widget -->

        <div class="col-xs-12 col-md-12">
            <ul class="fa-ul" itemscope>
                {{range $.Params.contact.fields}}
                    <li>
                        <i class="fa-li fa {{.font_awesome_icon}} fa-2x" aria-hidden="true"></i>
                        <span id="{{.name}}" itemprop="{{.description}}">
                                <a href="{{ .link }}" style="{{.style | safeCSS}}">{{ .text }}</a>
                        </span>
                    </li>
                {{end}}
            </ul>
        </div>
        <div class="col-xs-12 col-md-12">
            {{ if $.Site.Params.map }}
            {{partial "maps_loader" .}}
            {{partial "js_scripts/gmaps_loader.js" . }}
            <div class="hidden">
                <input id="map-lat" value="{{ $.Site.Params.latitude }}">
                <input id="map-lng" value="{{ $.Site.Params.longitude }}">
                <input id="map-dir" value="{{ $.Site.Params.address }}">
                <input id="map-zoom" value="{{ $.Site.Params.zoom | default "15" }}">
                <input id="map-api-key" value="{{ $.Site.Params.map_api_key }}">
            </div>
            <div id="map"></div>
            {{ end }}

        </div>
    </div>
</section>