<style type="text/css">
{{ partial "css_scripts/logo_wall.css"  . | safeCSS}}
</style>
<!-- Container for Clients?-->
<section id="logo-wall" class="home-section">
    <div class="container">
        {{partial "functions/render_fields.html" (dict "fields" $.Params.logo_wall.headline_elements "scratch" .Scratch)}}

        <div id="flexbox-logo-container">
            {{if isset .Params.logo_wall "logos"}}
                {{range .Params.logo_wall.logos}}
                <div class="logo-child"
                style = "padding-top: 1rem;">
                    <a href="{{.link | relURL}}">
                        <img src="placeholder.jpg" data-src="{{.source}}" class="lazy" alt="{{.name}}">
                    </a>
                </div>
                {{end}}
            {{end}}
        </div>
    </div>
</section>
