
<!-- Clients Aside -->
<section id="logo-wall" class="home-section">
    <div class="container">
        <div class="row">
            {{if isset .Params.logo_wall "heading"}}
                <div class="col-lg-12 text-center">
                    <h1 class="heading"  style="color: {{.Params.logo_wall.heading_color}}">{{.Params.logo_wall.heading}}</h1>
                </div>
            {{ end }}
            {{if isset .Params.logo_wall "subheading"}}
                <div class="col-lg-12 text-center">
                    <h2 class="subheading" style="color: {{.Params.logo_wall.subheading_color}}">{{.Params.logo_wall.subheading}}</h2>
                </div>
            {{ end }}
        </div>
        <div class="row flexbox">
            {{if isset .Params.logo_wall "logos"}}
                {{range .Params.logo_wall.logos}}
                <div class="col-md-{{div 12 $.Params.logo_wall.logos_in_row_medium_screen}} col-sm-{{div 12 $.Params.logo_wall.logos_in_row_small_screen}} col"
                style = "padding-top: 1rem;">
                    <a href="{{.link | relURL}}">
                        <img src="{{.source}}" class="img-responsive img-centered" alt="{{.name}}">
                    </a>
                </div>
                {{end}}
            {{end}}
        </div>
    </div>
</section>
