<style type="text/css">
    {{ partial "css_scripts/homeSection/reviews.css"  . | safeCSS}}
</style>
{{$link := "https://unpkg.com/masonry-layout@4/dist/masonry.pkgd.min.js"}}
{{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" $.Scratch "async" false "defer" false)}}

<script type="text/javascript">
    {{partial "js_scripts/homepage/reviews.js" . | safeJS }}
</script>

<!-- Container for Clients?-->
<section id="reviews" class="home-section">
    <div class="container">
        {{$section := "reviews"}}
        {{$fields:= (index $.Site.Data.layouts (index .Params $section).headline_layout).headline_elements}}
        {{$content := (index .Params $section).headline}}
        {{partial "functions/render_content_layout_fields.html" (dict "fields" $fields "content" $content "scratch" .Scratch)}}


        <div class="reviews_grid">
            {{if isset .Params.reviews "review"}}
            {{range .Params.reviews.review}}
            <div class="review_grid_element">
                <div class="content">
                    <div class="review_card_review">{{.reviewer_review}}</div>
                    <div class="review_card_reviewer">{{.reviewer_name}}</div>
                    <div class="review_card_location">{{.reviewer_location}}</div>
                </div>
            </div>
            {{end}}
            {{end}}
        </div>
    </div>
</section>
