{{range $.Params.featured_pages.sections}}
    {{$name := .name}}
    {{/* Setting the variable defaults */}}
    {{ $.Scratch.SetInMap "layout_data" "title" "List Page" }}
    {{ $.Scratch.SetInMap "layout_data" "subtitle" "" }}
    {{ $.Scratch.SetInMap "layout_data" "card_layout" "default_listLayout" }}
    {{ $.Scratch.SetInMap "layout_data" "sort_field" "date" }}
    {{ $.Scratch.SetInMap "layout_data" "sort_order" "desc" }}
    {{ $.Scratch.SetInMap "layout_data" "number_in_list_page" 10 }}
    {{ $.Scratch.SetInMap "layout_data" "num_featured" 4 }}

    {{/* Set from layout data sheet */}}
    {{range where $.Site.Data.layouts.sectionwise_list_layouts.sections ".name" $name }}
        {{$.Scratch.Set "layout_data" .}}
    {{end}}

    {{/*Check if the individual layout elements are set in front matter and if so change layout_data*/}}
    {{ $.Scratch.Add "layout_field_ranges" (slice "title" "subtitle" "card_layout" "sort_field" "sort_order" "num_featured") }}
    {{$section_range_context := .}}
    {{range ($.Scratch.Get "layout_field_ranges")}}
        {{if isset $section_range_context .}}    {{ $.Scratch.SetInMap "layout_data" . ( index $section_range_context .) }}    {{end}}
    {{end}}
    {{ .Scratch.Delete "layout_field_ranges"}}
    {{/*Finished loading from front matter*/}}

    {{$layout_data := $.Scratch.Get "layout_data"}}
    {{$.Scratch.Delete "layout_data" }}
    {{$section := cond (isset . "name") $name "Posts"}}
    {{/* Finished setting the variables */}}

    {{$pages := first $layout_data.num_featured (cond (eq $layout_data.sort_order "desc") ((where (where $.Data.Pages "Section" $name) "Params.featured" true).ByParam $layout_data.sort_field).Reverse ((where (where $.Data.Pages "Section" $name) "Params.featured" true).ByParam $layout_data.sort_field)) }}
    {{if (or (ne $layout_data.card_layout "") (ne $layout_data.card_layout "default")) }}
    {{if gt (len $pages) 0}}
        {{partial (print "listLayouts/" $layout_data.card_layout ".html") (dict "pages" $pages "context" $layout_data "scratch" $.Scratch  "section" $section ) | safeHTML}}
    {{end}}
    {{else}}
    {{end}}
{{end}}
