{{range $index, $element := $.Params.featured_pages.sections}}
    {{$pages := first .num_featured (cond (eq .sort_order "desc") ((where (where $.Data.Pages "Section" .name) "Params.featured" true).ByParam .sort_field).Reverse ((where (where $.Data.Pages "Section" .name) "Params.featured" true).ByParam .sort_field)) }}
    {{if (and (isset . "card_layout") (or (ne .card_layout "") (ne .card_layout "default"))) }}
        {{partial (print "listLayouts/" .card_layout ".html") (dict "pages" $pages "context" . "scratch" $.Scratch ) | safeHTML}}
    {{else}}
    {{end}}
{{end}}
