<!-- Services -->
<section id="services" class = "home-section">
    <div class="container">
        {{partial "functions/render_fields.html" (dict "fields" $.Params.showcase.headline_elements "scratch" .Scratch)}}


        <div class="row text-center">
            {{if isset .Params.showcase "card"}}
                {{range .Params.showcase.card}}

                    <div class="col-md-{{div 12 $.Params.showcase.numcards}}">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading"><a href="{{ .link }}">{{.title}}</a></h4>
                        <p class="service-text">{{ .card_content | markdownify}}</p>
                    </div>
                {{end}}
            {{end}}
        </div>

    </div>
</section>
