<style type="text/css">
    {{partial "css_scripts/homeSection/showcase.css" . | safeCSS}}
</style>
<section id="showcase" class = "home-section">
    <div class="container">
        {{$section := "showcase"}}
        {{$fields:= (index $.Site.Data.layouts (index .Params $section).headline_layout).headline_elements}}
        {{$content := (index .Params $section).headline}}
        {{partial "functions/render_content_layout_fields.html" (dict "fields" $fields "content" $content "scratch" .Scratch)}}


        <div class="showcase-flex-container">
            {{if isset .Params.showcase "card"}}
                {{range .Params.showcase.card}}

                    <div class="showcase-flex-child">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="showcase-heading"><a href="{{ .link }}">{{.title}}</a></h4>
                        <p class="showcase-text">{{ .card_content | markdownify}}</p>
                    </div>
                {{end}}
            {{end}}
        </div>

    </div>
</section>
