<!-- Services -->
<section id="services" class = "home-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                {{if isset .Params.showcase "title"}}
                    <h2 class="section-heading">{{.Params.showcase.title}}</h2>
                {{end}}
                {{if isset .Params.showcase "subtitle"}}
                    <h3 class="section-subheading text-muted">{{.Params.showcase.subtitle}}</h3>
                {{end}}

            </div>
        </div>

        <div class="row text-center">
            {{if isset .Params.showcase "card"}}
                {{range .Params.showcase.card}}
                    <div class="col-md-4">
                        <span class="fa-stack fa-4x">
                            <i class="fa fa-circle fa-stack-2x text-primary"></i>
                            <i class="fa {{ .icon }} fa-stack-1x fa-inverse"></i>
                        </span>
                        <h4 class="service-heading"><a href="{{ .link }}">{{.title}}</a></h4>
                        <p class="service-text">{{ .card_content | markdownify}}</p>
                    </div>
                {{end}}
            {{end}}
        </div>

    </div>
</section>