
#featured_{{.section}} {
    padding:  10px 0 10px 0;
    border-bottom: 1px solid #f5f5f5;
    box-shadow: 0px 2px 12px #fafafa;
    background-color: #fff;
}
#featured_{{.section}} .container {
    box-shadow: 0 10px 20px -10px rgba(0, 0, 0, .2);
}

#featured_{{.section}} #{{.section}}_cards {
    padding: 20px 0 40px 0;
}

#featured_{{.section}} .section-heading {
    padding: 2rem 0 0.5rem 0;
    border-bottom: 1px solid #cacaca;
}
#{{.section}}_cards .details_cards {
    text-align: left;
    overflow:auto;
    margin: 5px 0 5px 0;
    padding: 5px 0 5px 0;
}
#{{.section}}_cards .details_cards:hover {
    box-shadow: 0 5px 12px 2px rgba(0,0,0,.2);
    transition: all .35s ease-in-out;
    transform: translateY(+1px);
}
#{{.section}}_cards .details_cards .taxonomy_list_number{
    color: #a22;
    font-size:0.75rem;
    font-weight:700;
    padding:3px 15px 3px 50px;
}
#{{.section}}_cards .details_cards .taxonomy_list_term{
    color: #468;
    font-size:1.0rem;
    font-weight:300;
}


