
#{{.name}}_cards .card_img {
    height:400px;
    width:400px;
    max-width:100%;
    float: left;
    padding:0.5rem 1rem 0.2rem 0;
}


#{{.name}}_cards .details_cards {
    text-align: left;
    padding: 1rem;
    overflow:auto;
}

#{{.name}}_cards .details_cards .border_box:hover {
    transition: transform .75s;
    transform: translateY(-10px);
}

#{{.name}}_cards .details_cards a:hover{
    text-decoration: none;
}
#{{.name}}_cards .details_cards a .card_title:hover{
    text-decoration: underline;
}
#{{.name}}_cards .border_box {
    padding:0px;
    border-width: 1px;
    border-style: solid;
    border-color: rgba(34, 68, 102, 0.25);
    box-shadow: 0 5px 12px 2px rgba(0,0,0,.2);
    position: relative;
    overflow:auto;
}



{{$section_name := .name}}
{{range .fields}}
#{{$section_name}}_cards .details_cards .card_{{.field_name}} {
{{range .styles}}
{{.style}}: {{.value | safeCSS}};
{{end}}
}
{{end}}

@media only screen and (max-width: 1200px) {
    #{{.name}}_cards .card_img {
        max-width:50%;
    }
}
@media only screen and (max-width: 768px) {
    #{{.name}}_cards .card_img {
        height:300px;
        width:300px;
        max-width:50%;
    }
}
@media only screen and (max-width: 500px) {
    #{{.name}}_cards .card_img {
        width:100%;
        padding:0.5rem 0 0.2rem 0;
    }
}