
#{{.name}}_cards .card_img {
              height:500px;
              width:auto;
              float: left;
              padding-right:1rem;
          }

#{{.name}}_cards .details_cards {
              text-align: left;
              padding: 1rem;
              overflow:auto;
          }



#{{.name}}_cards .details_cards a:hover{
              text-decoration: none;
          }
#{{.name}}_cards .details_cards a .card_title:hover{
              text-decoration: underline;
          }
#{{.name}}_cards .border_box {
              padding:0px;
              border-width: 1px;
              border-style: solid;
              border-color: #333;
              box-shadow: 10px 10px 2px #aaa;
              position: relative;
              overflow:auto;
          }



{{$section_name := .name}}
{{range .fields}}
#{{$section_name}}_cards .details_cards .card_{{.field_name}} {
{{range .styles}}
{{.style}}: {{.value | safeCSS}};
{{end}}
}
{{end}}

