#{{.name}}_cards {
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content:space-evenly;
}
#{{.name}}_cards .border_box {
    padding:0px;
    border-width: 1px;
    border-style: solid;
    border-color: #333;
    box-shadow: 10px 10px 2px #aaa;
    position: relative;
    overflow:auto;
}

#{{.name}}_cards img {
    height:250px;
    width:100%;
}

#{{.name}}_cards .details_cards {
  position: relative;
    text-align: center;
    padding: 0.5rem;
    overflow:auto;
    flex-basis: {{.card_min_width}};
}

#{{.name}}_cards .details_cards .card_title{
    margin: 1rem 0 0.5rem 0;
    color: #a22;
    font-size:1rem;
    font-weight:700;
    padding:3px;
    text-align:center;
}

#{{.name}}_cards .details_cards a:hover{
    text-emphasis: ;t-decoration: none;
}
#{{.name}}_cards .details_cards a .card_title:hover{
    text-decoration: underline;
}


#{{.name}}_cards .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #468;
}

#{{.name}}_cards .overlay:hover  {
    opacity: 0.25;
}

{{$section_name := .name}}

{{range .fields}}
#{{$section_name}}_cards .details_cards .card_{{.field_name}} {
    {{range .styles}}
    {{.style}}: {{.value | safeCSS}};
    {{end}}
}
{{end}}







