#{{.name}}_cards {
    flex-wrap: wrap;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content:space-evenly;

}

#{{.name}}_cards img {
    height:250px;
    width:100%;
}

#{{.name}}_cards .details_cards {
    text-align: center;
    padding: 1rem;
    overflow:auto;
    flex-basis: {{.card_min_width}};
    margin: 10px auto;
}


#{{.name}}_cards .details_cards a:hover{
  text-decoration: none;
}
#{{.name}}_cards .details_cards a .card_title:hover{
  text-decoration: underline;
}

{{$section_name := .name}}

{{range .fields}}
#{{$section_name}}_cards .details_cards .card_{{.field_name}} {
    {{range .styles}}
    {{.style}}: {{.value | safeCSS}};
    {{end}}
}
{{end}}







