.paginationed {
    /*display none is set from javascript, so no biggie. This is just in case some interested dev opens firebug/chrome inspector*/
    font-size: 1.2rem;
}
.paginationed li {
    display: inline-block;
    padding: 8px 16px;
}
.paginationed .active {
    color: #aa2222;
}
.view-more-button-container{
    text-align: center;
    padding: 1rem 0 1rem 0;
}
.view-more-button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #CCC;
    border: none;
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto 20px auto;
    padding-bottom: 10px;

}

