.paginationed{
    display: none;
}
.view-more-button-container{
    text-align: center;
}
.view-more-button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #CCC;
    border: none;
}

.page-load-status {
    display: none; /* hidden by default */
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

.loader-ellips {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto 20px auto;
    padding-bottom: 10px;

}

