#view_more_pagination .paginationed{
    display: none;
}
#view_more_pagination .paginationed_list{
    display: inline-block;
    padding: 5px;
}
#view_more_pagination .paginationed .active {
    color: #aa2222;
}
#view_more_pagination .view_more_button_container {
    text-align: center;
    padding: 1rem 0 1rem 0;
}
#view_more_pagination .view_more_button {
    font-size: 20px;
    padding: 10px 20px;
    border-radius: 5px;
    background: #CCC;
    border: none;
}

#view_more_pagination .page_load_status {
    padding-top: 20px;
    border-top: 1px solid #DDD;
    text-align: center;
    color: #777;
}

#view_more_pagination .view_more_error{
    display: none;
}
#view_more_pagination .loading_dots_container{
    display: none;
}

#view_more_pagination .loading_dots_container {
    font-size: 20px; /* change size here */
    position: relative;
    width: 4em;
    height: 1em;
    margin: 10px auto 20px auto;
    padding-bottom: 10px;
}

#view_more_pagination .loading_dot {
    display: block;
    width: 1em;
    height: 1em;
    border-radius: 0.5em;
    background: #0095eb; /* change color here */
    position: absolute;
    animation-duration: 0.5s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
}

#view_more_pagination .loading_dot:nth-child(1),
#view_more_pagination .loading_dot:nth-child(2) {
    left: 0;
}
#view_more_pagination .loading_dot:nth-child(3) { left: 1.5em; }
#view_more_pagination .loading_dot:nth-child(4) { left: 3em; }

@keyframes reveal {
    from { transform: scale(0.001); }
    to { transform: scale(1); }
}

@keyframes slide {
    to { transform: translateX(1.5em) }
}

#view_more_pagination .loading_dot:nth-child(1) {
    animation-name: reveal;
}

#view_more_pagination .loading_dot:nth-child(2),
#view_more_pagination .loading_dot:nth-child(3) {
    animation-name: slide;
}

#view_more_pagination .loading_dot:nth-child(4) {
    animation-name: reveal;
    animation-direction: reverse;
}