
.about_item{
    /*display: flex;*/
    /*justify-content: space-between;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    text-align: center;
    line-height: 2;

    padding-top: 1rem;
    border-bottom: 1px solid rgba(0,0,0,0.75);
    border-radius: 25%;

}
.about_item_details{
    /*width: 30%;*/
}

.reviewed_item_name{
    font-size: 2.5rem;
    font-style: italic;
}
.reviewed_item_maker_label{
    font-family: "EB Garamond", serif;
    font-size: 0.9rem;
}
.reviewed_item_maker{
    font-size: 1.1rem;
    font-weight: 700;
    font-family: "EB Garamond", serif;
    padding-bottom: 10px;
}
.page_header_section{
    text-align: center;
}
.page_header_section a{
    color: inherit;
}

.other_images_container{
    display: flex;
    flex-wrap: wrap;
    width: 350px;
    justify-content: space-evenly;
    align-items: flex-start;
    padding-bottom: 1.5rem;
    padding-top: 0.5rem;
}

.other_images{
    width:100px;
    height: 100px;
    float: left;
}
.other_images{
    max-height: 100px;
    max-width: 100px;
    width: 50px;
    height: 50px;
    border: 2px solid rgba(0,0,0,0.25);
    border-radius: 50px;
    margin: 5px 5px;
}
#featured_image_container{
    position: relative;
    margin-top: 0.5rem;
}
#featured_image{
    width: 350px;
    height: 300px;
    margin: 0rem 1rem 0 0;
}

.images_section{
    float: left;
    padding-top: 0.75rem;
}
.page_title{
    font-size: 36px;
    font-weight: 800;
    font-family: "Lora", "EB Garamond", serif;
    padding: 1.5rem 0 0 0;
}
.page_author{
    padding: 0.5rem 0 0 0;
    font-size: 16px;
    font-weight: 800;
    color: #aa2222;
    font-family: "EB Garamond", "Lora", serif;
}
.page_tagline{
    font-style: italic;
    font-weight: 200;
    font-size: 16px;
    font-family: "EB Garamond", "Lora", serif;
}
.page_main_section, .page_main_section p{
    line-height: 1.5;
    font-size: 18px;
    font-family: "EB Garamond", "Lora", serif;
}
.page_main_section {
    padding: 0.75rem 0 0 0;
}

.page_content{
    padding: 0 0 20px 0;
}
.page_content *:first-of-type{
    margin-top: 0px;
}
.page_header_section{
    padding-bottom: 1rem;
}
.mid_section{
    overflow: auto;
    border-top: 1px solid rgba(0,0,0,0.1);
}

@media screen and (max-width: 650px) {
    .images_section{
        width: 100%;
    }

    #featured_image,#ytplayer {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        height: calc(100vh - 81px - 33px - 96px);
        max-height: calc(1.25 * 100vw);
    }
    .other_images_container{
        width: 100%;
    }
    .other_images{
        max-height: 100px;
        max-width: 100px;
        width: 50px;
        height: 50px;
        border: 2px solid rgba(0,0,0,0.25);
        border-radius: 50px;
        margin: 5px 10px;
    }

}

