#applause_button{
    width: 45px;
    height: 45px;
    position: fixed;
    bottom: 50vh;
    color: #0095eb;
}
#applause_button .count {
    margin-top: -8px;
    font-family: "Lora", serif;
    color: #248;
    font-size: 1.1rem;
    background-color: rgba(250,250,250,0.5);
}
