{{$link := "https://www.youtube.com/iframe_api"}}
{{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" .Scratch "async" false "defer" false)}}

<style type="text/css">
    {{ partial "css_scripts/singlePageLayouts/courses.css" . | safeCSS }}
</style>

<script type="text/javascript">
    {{partial "js_scripts/singlePageLayouts/courses.js" . | safeJS }}
</script>


{{partial "singlePageLayouts/page_photoswipe.html" . }}

<section class="books single_page_layout container">
    <div class ="page_header_section">
        <div class="page_title">{{(.Title | default ($.Scratch.Get "page_layout").title)}}</div>
        <div class="page_author">Faculty: {{.Params.faculty | default ($.Scratch.Get "page_layout").author}}</div>
        <div class="page_tagline">{{(.Params.short_intro)}}</div>
    </div>
    <div class = "mid_section">
        <div class = "images_section" >
            <div id="featured_image_container">
                <img id = "featured_image" src='/img/{{ index (.Params.posters) 0 | default ($.Scratch.Get "page_layout").banner_image}}'>
                <iframe id="ytplayer" type="text/html" width="350" height="300" src="https://www.youtube.com/embed/{{ index (.Params.youtube_ids) 0 | default ($.Scratch.Get "page_layout").youtube_id}}?autoplay=0&enablejsapi=1&controls=1&fs=1" frameborder="0" allowfullscreen controls></iframe>
                <!--<iframe id="ytplayer" type="text/html" width="300" height="300" src="https://www.youtube.com/embed/{{ index (.Params.youtube_ids) 0 | default ($.Scratch.Get "page_layout").youtube_id}}?autoplay=0&enablejsapi=1&controls=1&fs=1" frameborder="0" allowfullscreen controls></iframe>-->
            </div>

            <div class="other_images_container">
                {{range .Params.posters}}
                <img class = "other_images image_thumbs" src="/img/{{.}}">
                {{end}}
                {{if isset .Params "youtube_ids"}}
                {{range .Params.youtube_ids}}
                <img class = "other_images video_thumbs" src="https://img.youtube.com/vi/{{.}}/1.jpg">
                {{end}}{{end}}
            </div>
        </div>

        <div class = "page_main_section">
            <div class="page_content">
                {{ (.Content | default ($.Scratch.Get "page_layout").content) | markdownify}}
            </div>
        </div>
    </div>
    <div class ="page_detail_container">
        <div class="page_details_identifier">Details</div>
        <div class="page_details">
            {{if isset .Params "who_should_attend"}}<div class="table_field table_element">Who should Attend</div><div class="table_value table_element">{{.Params.who_should_attend}}</div>{{end}}
            {{if isset .Params "pre_requisites"}}<div class="table_field table_element">Pre-requisites</div><div class="table_value table_element">{{.Params.pre_requisites}}</div>{{end}}
            {{if isset .Params "course_date"}}<div class="table_field table_element">Course Date</div><div class="table_value table_element">{{.Params.course_date}}</div>{{end}}
            {{if isset .Params "duration"}}<div class="table_field table_element">Duration</div><div class="table_value table_element">{{.Params.duration}}</div>{{end}}
            {{if isset .Params "location"}}<div class="table_field table_element">Location</div><div class="table_value table_element">{{.Params.location}}</div>{{end}}
            {{if isset .Params "fees"}}<div class="table_field table_element">Fees</div><div class="table_value table_element">{{.Params.fees}}</div>{{end}}
            {{if isset .Params "certification"}}<div class="table_field table_element">Certification</div><div class="table_value table_element">{{.Params.certification}}</div>{{end}}
        </div>
    </div>
    <div class ="page_files_container">
        <div class="page_details_identifier">Documentation</div>
        {{if isset .Params "files"}}
        {{range $indx,$elmt := .Params.files}}
        <div class="page_filename">{{add $indx 1}}. {{$elmt.name}}</div>
        {{end}}
        {{end}}

        <div id="page_pdf_viewer_container" class="hide_it_off_screen">
            <div class="close_container_box">
                Close
            </div>
        <object>
            <embed id = "featured_file" class = "page_pdf_embed" src="/files/{{(index .Params.files 0).pdf_file}}" type="application/pdf">
        </object>
        </div>

    </div>
</section>