<style type="text/css">
    {{ partial "css_scripts/singlePageLayouts/courses.css" . | safeCSS }}
</style>

<script type="text/javascript">
    {{partial "js_scripts/singlePageLayouts/courses.js" . | safeJS }}
</script>


<object><embed width="850" height="850" src="/files/Brochure_for_5S_books.pdf" type="application/pdf"></object>

<section class="books single_page_layout container">
    <div class ="page_header_section">
        <div class="page_title">{{(.Title | default ($.Scratch.Get "page_layout").title)}}</div>
        <div class="page_author">Faculty: {{.Params.Author | default ($.Scratch.Get "page_layout").author}}</div>
        <div class="page_tagline">{{(.Params.tagline)}}</div>
    </div>
    <div class = "images_section" >
        <div id="featured_image_container">
            <img id = "featured_image" src='/img/{{ index (.Params.posters) 0 | default ($.Scratch.Get "page_layout").banner_image}}'>
        </div>

        <div class="other_images_container">
            {{range .Params.posters}}
            <img class = "other_images" src="/img/{{.}}">
            {{end}}
        </div>
    </div>

    <div class = "page_main_section">
        <div class="page_abstract"><span class="page_abstract_identifier">Short Summary: </span>{{(.Params.abstract)}}</div>
        <div class="page_content">
            {{ (.Content | default ($.Scratch.Get "page_layout").content) | markdownify}}
        </div>
    </div>
    <div class ="page_detail_container">
        <div class="book_details_identifier">Details</div>
        <div class="page_details">
            {{if isset .Params "price"}}<div class="table_field table_element">Price</div><div class="table_value table_element">{{.Params.price}}</div>{{end}}
            {{if isset .Params "size"}}<div class="table_field table_element">Size</div><div class="table_value table_element">{{.Params.size}}</div>{{end}}
            {{if isset .Params "num_pages"}}<div class="table_field table_element">Number of Pages</div><div class="table_value table_element">{{.Params.num_pages}}</div>{{end}}
            {{if isset .Params "isbn"}}<div class="table_field table_element">ISBN Number</div><div class="table_value table_element">{{.Params.isbn}}</div>{{end}}
            {{if isset .Params "reading_level"}}<div class="table_field table_element">Reading Level</div><div class="table_value table_element">{{.Params.reading_level}}</div>{{end}}
            {{if isset .Params "recommended_audience"}}<div class="table_field table_element">Recommended Audience</div><div class="table_value table_element">{{.Params.recommended_audience}}</div>{{end}}
            {{if isset .Params "format"}}<div class="table_field table_element">Format</div><div class="table_value table_element">{{.Params.format}}</div>{{end}}
            {{if isset .Params "publisher"}}<div class="table_field table_element">Publisher</div><div class="table_value table_element">{{.Params.publisher}}</div>{{end}}
            {{if isset .Params "date_of_publication"}}<div class="table_field table_element">Publication Date</div><div class="table_value table_element">{{.Params.date_of_publication}}</div>{{end}}
            {{if isset .Params "language"}}<div class="table_field table_element">Language</div><div class="table_value table_element">{{.Params.language}}</div>{{end}}
        </div>
    </div>
</section>