<header>
    <style type="text/css">
        {{ partial "css_scripts/singlePageLayouts/default.css" . | safeCSS }}
    </style>
    <script type="text/javascript">
    </script>
</header>
<section id="default" class="single_page_layout">
    <div class = "banner_image" >
    </div>
    <div id="page_header">
        <div class="page_title">{{(.Title | default ($.Scratch.Get "page_layout").title)}}</div>
        <div class="page_created_date">{{ dateFormat "Monday, Jan 2, 2006" (.Date| default ($.Scratch.Get "page_layout").date) }}</div>
        <div class="page_author">Author: {{.Params.Author | default ($.Scratch.Get "page_layout").author}}</div>
    </div>
    <div class="container">
        <div class="page_content">{{ (.Content | default ($.Scratch.Get "page_layout").content) | markdownify}}</div>
    </div>
    <div id="page_footer" class="container">
        {{if .Params.categories}}
        <div class="page_meta"><span class = "page_meta_descriptor">Categories:</span>
            {{range .Params.Categories}}
            <a class="page_meta_links" href = "/categories/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}
        {{if .Params.tags}}
        <div class="page_meta"><span class = "page_meta_descriptor">Tags:</span>
            {{range .Params.tags}}
            <a class="page_meta_links" href = "/tags/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}

    </div>
</section>