{{if .Params.highlight | default ($.Scratch.Get "page_layout").has_highlighting}}
    {{$link := (printf "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/%s.min.css" ($.Params.highlight_style | default ($.Scratch.Get "page_layout").highlight_style)) }}
    {{partial "functions/load_external_css.html" (dict "external_url" $link "scratch" .Scratch)}}



    {{if not (eq (len ($.Params.highlight_languages | default ($.Scratch.Get "page_layout").highlight_languages)) 0)}}
        {{$link := "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"}}
        {{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" .Scratch "async" false "defer" false)}}
        {{range ($.Params.highlight_languages | default ($.Scratch.Get "page_layout").highlight_languages)}}
            {{$link := (printf "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/%s.min.js" .) }}
            {{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" $.Scratch "async" false "defer" false)}}
        {{end}}
        <script type="text/javascript" async defer>
            {{ partial "js_scripts/singlePageLayouts/docs_code.js" . | safeJS }}
        </script>
    {{end}}
{{end}}

{{if .Params.math | default ($.Scratch.Get "page_layout").has_math}}
{{$link := "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/MathJax.js?config=TeX-MML-AM_CHTML"}}
{{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" .Scratch "async" true "defer" false)}}
{{end}}
<style type="text/css">
    {{ partial "css_scripts/singlePageLayouts/docs.css" . | safeCSS }}
</style>

<script type="text/javascript">
    {{partial "js_scripts/singlePageLayouts/docs.js" . | safeJS }}
</script>

<section id="docs" class="single_page_layout container">
    {{if .Params.quick_links}}{{if ne (index .Params.quick_links 0).text ""}}
    <div id="docs_top_container">
        <div id = "docs-menu" class="docs_menu">
            <div id = "docs-menu-heading" class="docs_menu_heading ">Menu</div>
            <!--<div id = "docs-menu-items-container">-->
            {{range .Params.quick_links}}
            <div class="docs_menu_item"><a href="{{.url}}">{{.text | markdownify | truncate 50 }}</a></div>
            {{end}}
            <!--</div>-->
        </div>
    <div class="page_right_section">
    {{end}}{{end}}
    <div class ="page_header_section">
        <div class="page_title">{{(.Title | default ($.Scratch.Get "page_layout").title)}}</div>
        <div class="page_author">Author: {{.Params.Author | default ($.Scratch.Get "page_layout").author}}</div>
        <div class="page_created_date">{{ dateFormat "Monday, Jan 2, 2006" (.Date| default ($.Scratch.Get "page_layout").date) }}</div>
    </div>
    <div class="mid_section">
        <div class = "page_main_section">
            <div class="page_content">
                {{ (.Content | default ($.Scratch.Get "page_layout").content) | markdownify}}
            </div>
        </div>
    </div>
    {{if .Params.quick_links}}{{if ne (index .Params.quick_links 0).text ""}}
    </div></div>
    {{end}}{{end}}
    <div id="page_footer">
        <div class="prev_next_page">
            <div class="previous_page">
            {{if .Params.previous_page}}{{range .Params.previous_page}}{{if ne .text ""}}
            <a href="{{.url}}"><i class="fa fa-chevron-left icon_left"></i> {{.text | truncate 50}}</a>
            {{end}}{{end}}{{end}}
            </div>
            {{if .Params.next_page}}{{range .Params.next_page}}{{if ne .text ""}}
            <div class="next_page"><a href="{{.url}}">{{.text | truncate 50}}<i class="fa fa-chevron-right icon_right"></i></a></div>
            {{end}}{{end}}{{end}}
        </div>


        {{if .Params.categories}}
        <div class="page_meta"><span class = "page_meta_descriptor">Categories:</span>
            {{range .Params.Categories}}
            <a class="page_meta_links" href = "/categories/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}
        {{if .Params.tags}}
        <div class="page_meta"><span class = "page_meta_descriptor">Tags:</span>
            {{range .Params.tags}}
            <a class="page_meta_links" href = "/tags/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}

    </div>
</section>