{{$link := "https://www.youtube.com/iframe_api"}}
{{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" .Scratch "async" false "defer" false)}}

<style type="text/css">
    {{ partial "css_scripts/singlePageLayouts/events.css" . | safeCSS }}
</style>

<script type="text/javascript">
    {{partial "js_scripts/singlePageLayouts/events.js" . | safeJS }}
</script>


{{partial "singlePageLayouts/page_photoswipe.html" . }}

<section id = "events" class="single_page_layout">

    <div class ="overall_container">
        <div class="banner_image_container"></div>
        <div class="event_background container">
            <div class="page_header_section">
                <div class="page_title">{{(.Title | default ($.Scratch.Get "page_layout").title)}}</div>
                {{if isset .Params "tagline"}}
                <div class="page_tagline">
                    {{.Params.tagline | default ($.Scratch.Get "page_layout").tagline}}
                </div>
                {{end}}
                {{if isset .Params "who"}}
                <div class="page_author">
                    Artist: {{.Params.who | default ($.Scratch.Get "page_layout").author}}
                </div>
                {{end}}
                {{if isset .Params "when"}}
                <div class="page_date">
                    Date: {{.Params.when | default ($.Scratch.Get "page_layout").date}}
                </div>
                {{end}}
                {{if isset .Params "where"}}
                <div class="page_location">
                    Location: {{.Params.where | default ($.Scratch.Get "page_layout").location}}
                </div>
                {{end}}
            </div>

            <div class = "mid_section">
                <div class = "page_main_section">
                    <div class="page_content">
                        {{ (.Content | default ($.Scratch.Get "page_layout").content) | markdownify}}
                    </div>
                </div>
                <div class = "images_section" >
                    <div id="featured_image_container">
                        <img id = "featured_image" src='/img/{{ index (.Params.posters) 0 | default ($.Scratch.Get "page_layout").banner_image}}'>
                        {{if isset .Params "youtube_ids"}}
                        <iframe id="ytplayer" type="text/html" width="350" height="300" src="https://www.youtube.com/embed/{{ index (.Params.youtube_ids) 0 | default ($.Scratch.Get "page_layout").youtube_id}}?autoplay=0&enablejsapi=1&controls=1&fs=1" frameborder="0" allowfullscreen controls></iframe>
                        {{end}}
                    </div>

                    <div class="other_images_container">
                        {{range .Params.posters}}
                        <img class = "other_images image_thumbs" src="/img/{{.}}">
                        {{end}}
                        {{if isset .Params "youtube_ids"}}
                        {{range .Params.youtube_ids}}
                        <img class = "other_images video_thumbs" src="https://img.youtube.com/vi/{{.}}/1.jpg">
                        {{end}}{{end}}
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="page_footer" class="container">
        {{if .Params.categories}}
        <div class="page_meta"><span class = "page_meta_descriptor">Categories:</span>
            {{range .Params.Categories}}
            <a class="page_meta_links" href = "/categories/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}
        {{if .Params.tags}}
        <div class="page_meta"><span class = "page_meta_descriptor">Tags:</span>
            {{range .Params.tags}}
            <a class="page_meta_links" href = "/tags/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}
        {{if .Params.genres}}
        <div class="page_meta"><span class = "page_meta_descriptor">Genres:</span>
            {{range .Params.genres}}
            <a class="page_meta_links" href = "/genres/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}
    </div>
</section>