
<style type="text/css">
    {{ partial "css_scripts/singlePageLayouts/reviews.css" . | safeCSS }}
</style>

<script type="text/javascript">
    {{partial "js_scripts/singlePageLayouts/reviews.js" . | safeJS }}
</script>


{{partial "singlePageLayouts/page_photoswipe.html" . }}

<section id="reviews" class="single_page_layout container">
    <div class ="page_header_section">
        {{if isset .Params "reviewed_item_link"}}
        <a class = "reviewed_item_link" href = "{{.Params.reviewed_item_link}}" target="_blank">
        {{end}}
            <div class = "about_item">
                {{if isset .Params "reviewed_item_categories"}}{{range .Params.reviewed_item_categories}}
                <!--<div class = "reviewed_item_categories about_item_details">{{.}}</div>-->
                {{end}}{{end}}
                {{if isset .Params "reviewed_item"}}
                <div class = "reviewed_item_name about_item_details">{{.Params.reviewed_item}}</div>
                {{end}}
                {{if isset .Params "reviewed_item_maker"}}
                <div class = "reviewed_item_maker_label about_item_details">by</div>
                <div class = "reviewed_item_maker about_item_details">{{.Params.reviewed_item_maker}}</div>
                {{end}}
        </div>
        {{if isset .Params "reviewed_item_link"}}
        </a>
        {{end}}
        <div class = "review_header">
            {{if isset .Params "headline"}}
            <div class = "reviewed_headline page_title">{{.Params.headline}}</div>
            {{end}}
            {{if isset .Params "author"}}
            <div class = "reviewed_headline page_author">{{.Params.author}}</div>
            {{end}}
            {{if isset .Params "date"}}
            <div class="page_date">{{ dateFormat "Monday, Jan 2, 2006" (.Date| default ($.Scratch.Get "page_layout").date) }}</div>
            {{end}}
            {{if isset .Params "stars"}}
            <div id = "review_star_container" class="review_stars"></div>
            {{end}}
        </div>
    </div>
    <div class = "mid_section">
        {{if (isset .Params "images") }}
        <div class = "images_section" >
            <div id="featured_image_container">
                <img id = "featured_image" src='/img/{{ index (.Params.images) 0 }}'>

            </div>
            {{if gt (len .Params.images) 1}}
            <div class="other_images_container">
                {{range .Params.images}}
                <img class = "other_images image_thumbs" src="/img/{{.}}">
                {{end}}
            </div>
            {{end}}
        </div>
        {{end}}

        <div class = "page_main_section">
            <div class="page_content">
                {{ (.Content | default ($.Scratch.Get "page_layout").content) | markdownify}}
            </div>
        </div>
    </div>

    <div id="page_footer">
        {{if .Params.reviewed_item_categories}}
        <div class="page_meta"><span class = "page_meta_descriptor">Review Category:</span>
            {{range .Params.reviewed_item_categories}}
            <a class="page_meta_links" href = "/reviewed_item_categories/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}
        {{if .Params.categories}}
        <div class="page_meta"><span class = "page_meta_descriptor">Categories:</span>
            {{range .Params.Categories}}
            <a class="page_meta_links" href = "/categories/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}
        {{if .Params.tags}}
        <div class="page_meta"><span class = "page_meta_descriptor">Tags:</span>
            {{range .Params.tags}}
            <a class="page_meta_links" href = "/tags/{{. | urlize}}"><span class = "page_meta_links_text">{{.}}</span></a>
            {{end}}
        </div>
        {{end}}
    </div>
</section>