{{$pages := $.pages}}
{{$context := $.context}}
{{$scratch := $.scratch}}
{{$fields := $.context.fields}}

<header>
    <style>
        {{partial "css_scripts/listLayouts/category_terms.css" . | safeCSS}}
    </style>
</header>
<section id="featured_{{$.section}}">
    <div class="container">
        <div class="section-heading">
            {{$context.title | default "List Page"}}
        </div>

        <div id="{{$.section}}_cards" class="cardList">
            {{ range $key, $value := $pages }}
            <a href="{{ $value.Name | urlize }}">
            <div class ="details_cards">
                <span class = "taxonomy_list_number">&#9658;</span><span class = "taxonomy_list_term"> {{$value.Name|humanize | markdownify | truncate 100 }}</span>
            </div>
            </a>
            {{end}}
        </div>

    </div>
</section>
