{{$pages := $.pages}}
{{$context := $.context}}
{{$scratch := $.scratch}}
{{$fields := $.context.fields}}

<header>
    <style>
        {{partial "css_scripts/listLayouts/default_listLayout.css" (dict "name" $.section "fields" $.context.fields) | safeCSS}}
    </style>
</header>
<section id="featured_{{$.section}}" class="home-section">
    <div class="container">
        <div class="section-heading">
            {{$.context.title | default $.section}}
        </div>
        <div class="section-subheading">
            {{$.context.subtitle | default ""}}
        </div>
        <div id="{{$.section}}_cards" class="cardList">
            {{ range $pages }}
            <div class ="details_cards">
                <a href="{{.Permalink}}">
                    <img src="placeholder.jpg" data-src="/img/{{.Params.caption_image}}" class="card_img lazy" alt="{{.Title}}">
                </a>
                <a href="{{.Permalink}}">
                    <div class="card_title left_align">
                        {{.Title | markdownify | truncate 100 }}
                    </div>
                </a>
                    <div class="card_summary left_align">
                        {{.Summary | markdownify | truncate 300 }}
                    </div>

            </div>
            {{end}}
        </div>

    </div>
</section>
