{{$pages := $.pages}}
{{$context := $.context}}
{{$scratch := $.scratch}}
{{$fields := $.context.fields}}
<header>
    <style>
        {{partial "css_scripts/listLayouts/list_of_large_cards_no_overlay.css" $.context | safeCSS}}
    </style>
</header>

<section id="featured_{{$.context.name}}" class="home-section">
    <div class="container">
        <div class="section-heading">
            {{$.context.title | humanize}}
        </div>
        <div class="section-subheading">
            {{$.context.subtitle | humanize}}
        </div>
        <div id="{{$.context.name}}_cards" class="cardList">
            {{ range first $.context.num_featured (sort  (where ($pages) "Params.featured" true) $.context.sort_field $.context.sort_order)}}
            <div class ="details_cards">
                <div class="border_box">
                    <a href="{{.Permalink}}">
                        <img src="/img/{{.Params.caption_image}}" class="card_img" alt="{{.Title}}">
                    </a>
                    {{$page_summary := .Summary}}
                    {{$page_params := .Params}}
                    {{$page_permalink := .Permalink}}
                    {{range $fields }}
                    {{if eq .type "list_of_links"}}
                    {{$list_of_links_length := (len (index $page_params .field_name))}}
                    <div class="card_{{.field_name}} {{.css_class}}">
                        {{.prefix }}
                        {{ range $index, $element := (index $page_params .field_name) }}
                        <a href="{{.url}}"><span>
                            {{ if eq $index (sub $list_of_links_length 1) }} and
                            {{ else if ne $index 0}},
                            {{ end }}
                            {{$element.name}}</span></a>
                        {{end}}
                    </div>
                    {{else}}

                    <div class="card_{{.field_name}} {{.css_class}}">
                        {{if eq .field_name "summary"}}
                        {{.prefix }}{{$page_summary | markdownify}}
                        {{else}}
                        <a href="{{$page_permalink}}">
                        {{.prefix }}{{(index $page_params .field_name) | markdownify}}
                        </a>
                        {{end}}
                    </div>

                    {{ end }}
                    {{ end }}
                </div>
            </div>
            {{end}}
        </div>

    </div>
</section>