.reviews_grid{
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fill, minmax(275px,1fr));
    grid-auto-rows: 3px;
    /*The auto rows are like the resolution for the grid. 3px is very fine!*/
}
.review_grid_element {
    font-family: "EB Garamond", "Lora", serif;
    padding: 7px;
    box-shadow: 4px 4px 9px 2px rgba(0,70,50,0.12), 6px 6px 20px 0px rgba(10,70,70,0.08);
}
.content{
    padding-bottom: 5px;
}

.review_card_review::selection,.review_card_review::-moz-selection,
.review_card_reviewer::-moz-selection,.review_card_reviewer::-moz-selection,
.review_card_location::-moz-selection,.review_card_location::-moz-selection {
    background: rgba(255, 134, 0, 0.4);
}

.review_card_review{
    font-size: 18px;
}
.review_card_reviewer{
    font-size: 16px;
    color: #aa2222;
    font-weight: 800;
    padding-top: 1rem;
}
.review_card_location{
    font-style: italic;
    font-size: 17px;
    line-height: 1;
}
