{{ block "headr" .}}
    {{ partial "header" . }}
{{ end }}

{{ block "header_scripts" .}}{{ end }}

{{ block "navbar" .}}
    {{ partial "navbar" . }}
{{ end }}

{{ block "main" .}}
    <H1>My main from baseof</H1>
{{ end }}

{{ block "sharer" .}}
    {{ $.Scratch.SetInMap "layout_defaults" "show_sharer" ($.Site.Params.sharer.sharer_active | default true) }}
    {{ $.Scratch.SetInMap "layout_defaults" "rollup_sharer_active" ($.Site.Params.sharer.sharer_rollup_button_active | default true) }}
    {{ $.Scratch.SetInMap "layout_defaults" "fixed_sharer_active" ($.Site.Params.sharer.sharer_fixed_menu_active | default true) }}
    {{ $.Scratch.SetInMap "layout_defaults" "show_fixed_sharer_on_scroll" ($.Site.Params.sharer.show_fixed_sharer_on_scroll | default true) }}
    {{if ($.Scratch.Get "layout_defaults").show_sharer}}
        {{ partial "sides/sharer.html" . }}
    {{end}}
{{end}}

{{ block "popup" .}}
    {{ $.Scratch.SetInMap "layout_defaults" "show_popup" ($.Site.Params.popup.popup_active | default true) }}

    {{ $.Scratch.SetInMap "layout_defaults" "popup_activation_button" ($.Site.Params.popup.popup_show_button_on_bottom_right | default true) }}
    {{ $.Scratch.SetInMap "layout_defaults" "activate_popup_on_delay" ($.Site.Params.popup.activate_popup_on_delay | default true) }}
    {{ $.Scratch.SetInMap "layout_defaults" "activate_popup_on_exit_intent" ($.Site.Params.popup.activate_popup_on_exit_intent | default true) }}
    {{ $.Scratch.SetInMap "layout_defaults" "activate_popup_on_scroll" ($.Site.Params.popup.activate_popup_on_scroll | default true) }}

    {{if ($.Scratch.Get "layout_defaults").show_popup}}
        {{partial "sides/popup.html" .}}
    {{end}}
{{ end }}

{{ block "comments" .}}{{ end }}

{{ block "footr" .}}
    {{ partial "cookie_consent" . }}
    {{ partial "footer_container" . }}
    {{ partial "footer" . }}
{{ end }}

{{ block "additional_scripts" .}}{{ end }}