{{ block "headr" .}}
    {{ partial "header" . }}
{{ end }}

{{ block "header_scripts" .}}{{ end }}

{{ block "navbar" .}}
    {{ partial "navbar" . }}
{{ end }}

{{ block "main" .}}
    <H1>My main from baseof</H1>
{{ end }}

{{ block "sharer" .}}
    {{if (isset $.Site.Params.sharer "sharer_active")}}
        {{if ($.Site.Params.sharer.sharer_active)}}
            {{partial "sides/sharer.html" .}}
        {{end}}
    {{end}}
{{ end }}

{{ block "popup" .}}
    {{if (isset $.Site.Params.popup "popup_active")}}
        {{if ($.Site.Params.popup.popup_active)}}
            {{partial "sides/popup.html" .}}
        {{end}}
    {{end}}
{{ end }}

{{ block "comments" .}}{{ end }}

{{ block "footr" .}}
    {{ partial "cookie_consent" . }}
    {{ partial "footer_container" . }}
    {{ partial "footer" . }}
{{ end }}

{{ block "additional_scripts" .}}{{ end }}