{{define "main"}}

    {{ $.Scratch.SetInMap "layout_defaults" "name" (.Section | lower) }}
    {{ $.Scratch.SetInMap "layout_defaults" "title" (.Section | humanize) }}
    {{ $.Scratch.SetInMap "layout_defaults" "subtitle" "" }}
    {{ $.Scratch.SetInMap "layout_defaults" "card_layout" "default_listLayout" }}
    {{ $.Scratch.SetInMap "layout_defaults" "sort_field" "date" }}
    {{ $.Scratch.SetInMap "layout_defaults" "sort_order" "desc" }}
    {{ $.Scratch.SetInMap "layout_defaults" "number_in_list_page" 5 }}
    {{ $.Scratch.SetInMap "layout_defaults" "num_featured" 5 }}
    {{ $.Scratch.SetInMap "layout_defaults" "pagination_layout" "pages" }}

    {{ $.Scratch.Set "listPage_name" (.Section) }}
    {{ $.Scratch.Set "front_matter_params" .Params }}
    {{ $.Scratch.Set "list_layout_prebuilds" $.Site.Data.layouts.sectionwise_list_layouts }}
    {{ $.Scratch.Set "listPages" .Pages }}

    {{ partial "listPages.html" . }}

{{end}}
