{{define "main"}}
    <style type="text/css">
        {{partial "css_scripts/popup_success.css" . | safeCSS }}
    </style>
    <section id="popup_success" style=" ">
        <div class="container">
            <div class="popup_content">
                <H1 class = "popup_success_title" style = "color:{{.Params.title_color}}">{{.Params.title | markdownify}}</H1>
                <p class = "popup_success_message" style = "color:{{.Params.message_color}}">{{.Params.message | markdownify}}</p>
            </div>
        </div>
    </section>
{{end}}