{{ define "main" }}
    <section>
        <div class="container">
            <div class="row">
                {{if isset .Params "show_title_date_author"}}
                    {{if .Params.show_title_date_author}}
                        <h1>{{.Title}}</h1>
                        <br>
                        <div style="color:black; font-size:16px;">{{ dateFormat "Monday, Jan 2, 2006" .Date }}</div>
                        <div style="color:black; font-size:16px;">{{if .Params.author}}Author: {{.Params.Author}}{{end}}</div>
                        <br>
                        <hr>
                    {{ end }}
                {{ end }}
                <div style="color:black; font-size:18px;">{{ .Content | markdownify}}</div>
            </div>
        </div>
    </section>
{{ end }}
{{define "comments"}}
    {{if isset .Params "allow_comments"}}
        {{if .Params.allow_comments}}
            {{ partial "comments" . }}
        {{ end }}
    {{ end }}
{{end}}