{{ define "headr"}}
    {{ $.Scratch.Set "single_layout_prebuilds" $.Site.Data.layouts.sectionwise_singlepage_layouts }}
    {{range where (index ($.Scratch.Get "single_layout_prebuilds") "sections") ".name" .Section }}
        {{$prebuild_layout := .}}
        {{if isset $prebuild_layout "title_field"}}
            {{$.Scratch.Set "title" ( index $.Params (index $prebuild_layout "title_field")) }}
        {{end}}
    {{end}}

    {{ partial "header" . }}
    {{$.Scratch.Delete "title"}}
    {{$.Scratch.Delete "single_layout_prebuilds"}}
{{ end }}

{{ define "main" }}
    {{$section_var := newScratch}}
    {{ $section_var.Add "layout_field_ranges" (slice "title" "author" "caption_image" "layout" "tagline" "who" "when" "location" "banner_image" "date" "has_math" "highlight_style" "highlight_languages") }}
    {{/* Set main defaults */}}
    {{ $.Scratch.SetInMap "page_layout" "layout" ( .Params.layout | default "default")}}
    {{ $.Scratch.SetInMap "page_layout" "banner_image" "headers/bubbles-wide.jpg" }}
    {{ $.Scratch.SetInMap "page_layout" "title" ("Post Page" | humanize) }}
    {{ $.Scratch.SetInMap "page_layout" "author" ($.Site.Params.site_author_name | humanize) }}
    {{ $.Scratch.SetInMap "page_layout" "date" now }}
    {{ $.Scratch.SetInMap "page_layout" "content" `Loremipsum dolor sit amet, consectetur adipiscing elit. In vel lectus vel enim posuere convallis et eu dolor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed mollis venenatis nisl. Fusce luctus eleifend libero in lobortis. Nulla cursus tempus orci, nec venenatis est. In gravida augue vitae dictum tempor. Vivamus dapibus tempor mi a elementum.

Aliquam nec ornare lectus. Integer ante purus, pulvinar sit amet quam at, blandit aliquam magna. Quisque massa nunc, eleifend at augue ac, elementum iaculis tellus. Sed ipsum ex, ultricies quis massa sed, malesuada imperdiet eros. Nullam rhoncus lacinia rhoncus. Nam et congue purus, et sagittis purus. Aliquam viverra ultrices semper. Integer pharetra in ante a aliquam. Mauris rhoncus, nisi nec condimentum suscipit, leo sapien aliquam ipsum, sit amet tincidunt velit risus facilisis augue.

Sed a pellentesque lacus. Fusce feugiat sodales dolor et vulputate. Mauris ut scelerisque risus, sit amet congue ante. Nunc lectus quam, faucibus a interdum eu, ullamcorper in lorem. Praesent convallis eros sit amet porttitor pellentesque. Maecenas a commodo velit. Nunc at magna est. Praesent sit amet massa eu risus semper dapibus sit amet a magna. Sed viverra fringilla tellus, ut tincidunt leo pretium vitae. Nullam rhoncus nisl orci. Vestibulum dignissim rhoncus lacus laoreet eleifend. Proin sit amet iaculis nulla, sit amet commodo sapien. Cras malesuada ornare facilisis. Pellentesque id pellentesque enim, sed porta lacus.

Curabitur eleifend faucibus turpis, sit amet lacinia erat iaculis id. Nunc accumsan quam nisl, sed vestibulum nisi lobortis id. Donec lacinia tortor erat, sit amet faucibus felis tempus molestie. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec erat sit amet justo rhoncus accumsan. Vestibulum semper orci quis arcu eleifend, quis interdum tortor tincidunt. Nunc scelerisque mauris id blandit vulputate. Pellentesque a imperdiet metus, feugiat feugiat ante.

Morbi tincidunt nisi sit amet risus lacinia ornare. Duis mattis diam urna, a sollicitudin ante cursus at. Nunc ultrices ligula feugiat rhoncus blandit. Nam eget dui enim. Sed id ante sed sem finibus maximus. Curabitur sit amet tincidunt magna. Maecenas ac congue urna, nec placerat purus. Praesent tincidunt consectetur mi, et vehicula felis porta eu. Pellentesque quis ligula a metus iaculis aliquam. Aenean mollis ullamcorper varius. Nullam mollis mauris vel vulputate ornare. Suspendisse sed sollicitudin diam, a vehicula libero. Suspendisse quis metus mauris.
` }}


    {{/* Set layout from prebuilt layouts data sheet if exists */}}
    {{ $.Scratch.Set "single_layout_prebuilds" $.Site.Data.layouts.sectionwise_singlepage_layouts }}
    {{range where (index ($.Scratch.Get "single_layout_prebuilds") "sections") ".name" .Section }}
        {{$prebuild_layout := .}}

        {{range ($section_var.Get "layout_field_ranges")}}
            {{if isset $prebuild_layout .}}
                {{ $.Scratch.SetInMap "page_layout" . ( index $prebuild_layout .) }}
            {{end}}
        {{end}}
    {{end}}

    {{/* Set layout from prebuilt layouts data sheet if exists */}}
    {{range ($section_var.Get "layout_field_ranges")}}
        {{if isset $.Params .}}
            {{ $.Scratch.SetInMap "page_layout" . ( index $.Params .) }}
        {{end}}
    {{end}}

    {{partial (printf "singlePageLayouts/%s.html" (index ($.Scratch.Get "page_layout") "layout") ) . }}
    {{$.Scratch.Delete "page_layout"}}
{{ end }}


{{define "sharer"}}
    {{$section_var := newScratch}}
    {{ $.Scratch.SetInMap "page_layout" "show_sharer" ($.Site.Params.sharer.sharer_active | default true) }}
    {{ $.Scratch.SetInMap "page_layout" "rollup_sharer_active" ($.Site.Params.sharer.sharer_rollup_button_active | default true) }}
    {{ $.Scratch.SetInMap "page_layout" "fixed_sharer_active" ($.Site.Params.sharer.sharer_fixed_menu_active | default true) }}
    {{ $.Scratch.SetInMap "page_layout" "show_fixed_sharer_on_scroll" ($.Site.Params.sharer.show_fixed_sharer_on_scroll | default true) }}
    
    {{/* Set layout from prebuilt layouts data sheet if exists*/}}
    {{ $.Scratch.Set "single_layout_prebuilds" $.Site.Data.layouts.sectionwise_singlepage_layouts }}
    {{range where (index ($.Scratch.Get "single_layout_prebuilds") "sections") ".name" .Section }}
        {{$prebuild_layout := .}}
        {{ $section_var.Add "layout_field_ranges" (slice "show_sharer" "rollup_sharer_active" "fixed_sharer_active" "show_fixed_sharer_on_scroll") }}
        {{range ($section_var.Get "layout_field_ranges")}}
            {{if isset $prebuild_layout .}}
                {{ $.Scratch.SetInMap "page_layout" . ( index $prebuild_layout .) }}
            {{end}}
        {{end}}
    {{end}}
    {{$.Scratch.Delete "single_layout_prebuilds"}}

    {{if ($.Scratch.Get "page_layout").show_sharer}}
        {{ partial "sides/sharer.html" . }}
    {{end}}
    {{$.Scratch.Delete "page_layout"}}
{{end}}

{{define "popup"}}
    {{$section_var := newScratch}}
    {{ $.Scratch.SetInMap "page_layout" "show_popup" ($.Site.Params.popup.popup_active | default true) }}

    {{ $.Scratch.SetInMap "page_layout" "popup_activation_button" ($.Site.Params.popup.popup_show_button_on_bottom_right | default true) }}
    {{ $.Scratch.SetInMap "page_layout" "activate_popup_on_delay" ($.Site.Params.popup.activate_popup_on_delay | default true) }}
    {{ $.Scratch.SetInMap "page_layout" "activate_popup_on_exit_intent" ($.Site.Params.popup.activate_popup_on_exit_intent | default true) }}
    {{ $.Scratch.SetInMap "page_layout" "activate_popup_on_scroll" ($.Site.Params.popup.activate_popup_on_scroll | default true) }}

    {{/* Set layout from prebuilt layouts data sheet if exists*/}}
    {{ $.Scratch.Set "single_layout_prebuilds" $.Site.Data.layouts.sectionwise_singlepage_layouts }}
    {{range where (index ($.Scratch.Get "single_layout_prebuilds") "sections") ".name" .Section }}
        {{$prebuild_layout := .}}
        {{ $section_var.Add "layout_field_ranges" (slice "show_popup" "popup_activation_button" "activate_popup_on_delay" "activate_popup_on_exit_intent" "activate_popup_on_scroll") }}
        {{range ($section_var.Get "layout_field_ranges")}}
            {{if isset $prebuild_layout .}}
                {{ $.Scratch.SetInMap "page_layout" . ( index $prebuild_layout .) }}
            {{end}}
        {{end}}
    {{end}}
    {{$.Scratch.Delete "single_layout_prebuilds"}}


    {{if ($.Scratch.Get "page_layout").show_popup}}
        {{partial "sides/popup.html" .}}
    {{end}}
    {{$.Scratch.Delete "page_layout"}}
{{end}}

{{define "comments"}}
    {{$section_var := newScratch}}
    {{ $.Scratch.SetInMap "page_layout" "enable_comments" (and $.Site.DisqusShortname (or ($.Site.Params.enable_comments | default false) ($.Params.enable_comments | default true)) | default false) }}
    {{ $.Scratch.SetInMap "page_layout" "comment_count" false }}

    {{/* Set layout from prebuilt layouts data sheet if exists*/}}
    {{ $.Scratch.Set "single_layout_prebuilds" $.Site.Data.layouts.sectionwise_singlepage_layouts }}
    {{range where (index ($.Scratch.Get "single_layout_prebuilds") "sections") ".name" .Section }}
        {{$prebuild_layout := .}}
        {{ $section_var.Add "layout_field_ranges" (slice "enable_comments") }}
        {{range ($section_var.Get "layout_field_ranges")}}
            {{if isset $prebuild_layout .}}
                {{ $.Scratch.SetInMap "page_layout" . ( index $prebuild_layout .) }}
            {{end}}
        {{end}}
    {{end}}
    {{$.Scratch.Delete "single_layout_prebuilds"}}

    {{ if ($.Scratch.Get "page_layout").enable_comments }}
        {{ partial "comments" . }}
    {{ end }}
    {{$.Scratch.Delete "page_layout"}}
{{end}}

{{define "applause_button"}}
    {{$section_var := newScratch}}
    {{ $.Scratch.SetInMap "page_layout" "enable_applause_button" true }}

    {{/* Set layout from prebuilt layouts data sheet if exists*/}}
    {{ $.Scratch.Set "single_layout_prebuilds" $.Site.Data.layouts.sectionwise_singlepage_layouts }}
    {{range where (index ($.Scratch.Get "single_layout_prebuilds") "sections") ".name" .Section }}
        {{$prebuild_layout := .}}
        {{ $section_var.Add "layout_field_ranges" (slice "enable_applause_button") }}
        {{range ($section_var.Get "layout_field_ranges")}}
            {{if isset $prebuild_layout .}}
                {{ $.Scratch.SetInMap "page_layout" . ( index $prebuild_layout .) }}
            {{end}}
        {{end}}
    {{end}}
    {{$.Scratch.Delete "single_layout_prebuilds"}}

    {{ $.Scratch.SetInMap "page_layout" "enable_applause_button" ($.Params.enable_applause_button | default ($.Scratch.Get "page_layout").enable_applause_button)}}

    {{ if ($.Scratch.Get "page_layout").enable_applause_button }}
        {{ partial "sides/applause_button" . }}
    {{ end }}
    {{$.Scratch.Delete "page_layout"}}
{{end}}