{{$name := $.name}}
{{$styles := $.styles}}
{{$content := $.content}}
{{$page_var := newScratch}}

{{range $styles}}
    {{if isset . "media_type"}}
        {{if not (eq .media_type "")}}
    {{ .media_type | safeCSS }} {
        {{end}}
    {{end}}
        {{if isset . "container"}}{{ .container | safeCSS }}{{end}} {{if isset . "target"}}{{if not (eq .target "")}}{{ .target | safeCSS }}{{else}}#{{ $name | safeCSS }}{{end}}{{else}}#{{ $name | safeCSS }}{{end}} {
            {{if isset . "style_value"}}{{range .style_value}}{{$page_var.Set "style_val" .value}}{{if (isset . "content_field_name")}}{{if (isset $content .content_field_name)}}{{$page_var.Set "style_val" (index $content .content_field_name)}}{{end}}{{end}}{{ .field | safeCSS }}:{{$page_var.Get "style_val" | safeCSS}};{{$page_var.Delete "style_val"}}{{end}}{{end}}
        }
    {{if isset . "media_type"}}{{if not (eq .media_type "")}}
    }
    {{end}}{{end}}

{{end}}
