{{$current_name := .current_name}}
{{$fields := .fields}}


{{range .fields}}
    {{if eq $current_name .parent}}
        {{printf "<%s " .type | htmlUnescape | safeHTML }} id="{{.name}}" class = "{{.class}}"{{if (isset . "tags")}}{{range .tags}}{{.field}} = {{.value}}{{end}}{{end}}>
        {{.content | markdownify}}
        {{if .has_children}}
            {{partial "functions/field_loop.html" (dict "fields" $fields "current_name" .name )}}
        {{end}}
        {{ printf "</%s" .type | htmlUnescape | safeHTML }}>
    {{end}}
{{end}}


