/*************************************************
 *  Contact Page
 **************************************************/


section#contact {
    background-color: #222;
    background-image: url(../img/map-image.jpg);
    background-position: center;
    background-repeat: no-repeat;
    padding: 4rem 1rem 6rem 1rem;
}

section#contact input,section#contact textarea,section#contact button {
    font-family: "EB Garamond","Lora",serif;
}

section#contact .section-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

section#contact .section-subheading {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: 200;
}

section#contact  .flex-children{
    width: 45%;
}

section#contact .form-group{
    text-align: center;
    margin-top: 10px;
}
section#contact  #contact_page-right_half .form-group{
    height: 100%;
}


section#contact .flex {
    justify-content: space-between;
    align-items: stretch;
    padding-bottom: 30px;
}
section#contact input,section#contact textarea {
    width:100%;
    height: 80%;
    padding: 10px 0 10px 5px;
}
@media screen and (max-width: 700px) {
    section#contact  .flex-children{
        width: 90%;
    }
    section#contact .flex {
        justify-content: center;
    }
}