/*************************************************
 *  Contact Page
 **************************************************/

section#contact {
    background-color: #222;
    background-image: url(../img/map-image.png);
    background-position: center;
    background-repeat: no-repeat;
    padding: 10rem 1rem;
}

section#contact .form-group input, section#contact .form-group textarea {
    padding: 20px;
}

section#contact .section-heading {
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

section#contact .section-subheading {
    margin-top: 1rem;
    margin-bottom: 2rem;
    font-size: 0.9rem;
    font-weight: 200;
}

section#contact #message {
    height: 155px;
}