
/*************************************************
 *  Core
 **************************************************/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*Fonts*/
html {
    font-family: 'Lora', TimesNewRoman, 'Times New Roman', serif;
}
nav#navbar-main{
    font-family: 'EB Garamond',serif;
}
body p {
    font-family: 'EB Garamond', serif;
    font-size: 1.1rem;
}

html {
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    line-height: 1.65;
}

@media screen and (min-width: 1068px) {
    html {
        font-size: 20px;
    }
}

body {
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    background-color: #fff;
    margin: 71px 0 15px 0; /* Offset body content by navbar height. */
    padding-top: 0;
    counter-reset: captions;

}

@media screen and (max-width: 1200px) {
    /* Match max-width of .nav-bar query. */
    body {
        margin-top: 80px; /* Offset body content by navbar height. */
    }
}

.home-section {
    background-color: #fff;
    padding: 70px 0 70px 0;
}
@media screen and (max-width: 768px) {
    .home-section {
        padding: 2.5rem 0 60px 0;
    }
}
.section-heading {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 5px;
    color: #333;
}
.section-subheading {
    text-align: center;
    font-weight: 200;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.25;
    letter-spacing: 1px;
    color: #aaa;
}

.max-width-640 {
    max-width: 640px;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

/* Body text */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Lists */
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    margin: 18px 0 10px 0;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word; /* Ensures very long heading words do not overflow into content. */
    font-family: "EB Garamond", "Lora", serif;
}


h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }


a,
h3.article-title a:hover {
    color: #0095eb;
    text-decoration: none;
    transition: color 0.6s ease;
}

a:hover,
a:focus {
    color: #0095eb;
}

img,
video {
    height: auto;
    max-width: 100%;
    display: block;
}

video {
    width: 100%;
    height: auto;
    max-height: 400px;
}

.img-responsive {
    /* Extend Bootstrap declaration with centering. */
    margin: 0 auto;
}
:target::before {
    /* So that internal html anchors are not behind fixed headers */
    content: "";
    display: block;
    height: 80px; /* fixed header height*/
    margin: -80px 0 0; /* negative fixed header height */
}

figcaption {
    display: block;
    margin-top: 0.75em;
    line-height: 1.25;
    font-size: 1rem;
    margin-bottom: 1.65rem;
    font-family: 'Old Standard TT', sans-serif;
}

figcaption.numbered:before {
    font-weight: 700;
    text-transform: uppercase;
    content: attr(data-pre) counter(captions) attr(data-post);
}

figcaption.numbered {
    counter-increment: captions;
}

figcaption h4 {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

pre,
code {
    font-family: 'Roboto Mono', monospace;
    color: #7dba25;
    background-color: #f4f4f4;
    font-size: 0.85rem;
}

pre {
    margin: 0 0 1rem 0;
    background-color: rgb(248, 248, 248); /* Match default highlight theme. */
    border-color: rgb(248, 248, 248);
}

pre code {
    white-space: pre; /* Override Bootstrap to preserve line breaks in code. */
    overflow-x: auto;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Quotes */
blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
}

blockquote p:last-child {
    margin-bottom: 0;
}

@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

.markup-quote {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(233, 231, 245, 1), rgba(233, 231, 245, 1));
}

.space-below {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .space-below {
        margin-bottom: 10px;
    }
}

.universal-wrapper {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media only screen and (min-width: 1001px) {
    .universal-wrapper {
        width: 1000px;
    }
}

small,
.small {
    font-size: .75em;
}

.responsive-wrap iframe {
    max-width: 100%;
}
.flex, .card_flex {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
    flex-wrap: wrap;
}
.text-center {
    text-align: center;
}
.hidden{
    display: none;
}

/*Some Stuff for the list cards*/

.card_title {
    margin: 1rem 0 0.5rem 0;
    color: #a22;
    font-size: 1rem;
    font-weight: 700;
    padding: 3px;
    font-family: 'Lora', serif;
}
.card_title:hover {
    text-decoration: underline;
}
.card_summary {
    margin: 1rem 0 3px 0;
    color: #468;
    font-size: 0.9rem;
    font-weight: 200;
    padding: 0 10px 10px 10px;
    font-style:normal;
    font-family: 'EB Garamond', serif;
}
.card_authors {
    margin: 3px 0 10px 0;
    color: #a22;
    font-size: 0.9rem;
    font-weight: 900;
    padding-left: 3px;
    font-style:normal;
    font-family: 'EB Garamond', serif;
}
.card_tagline {
    margin: 3px 0 0px 0;
    color: #aaa;
    font-size: 0.9rem;
    font-weight: 600;
    padding-left: 3px;
    font-style:normal;
    font-family: 'EB Garamond', serif;
}

.card_details {
    color: #0079bf;
    font-size: 0.8rem;
    font-weight: 600;
    padding-left: 3px;
    font-style:italic;
    font-family: 'EB Garamond', serif;
}
.details_cards a {
    color: inherit;
}
.card_icon_links {
    font-size: 1rem;
    padding: 10px 0 10px 0;
    color: #0079bf;
    letter-spacing: 4px;
    line-height: 1.25;
}
.card_summary_light {
    font-weight: 200;
    color: #0095eb;
    margin: 3px 0 3px 0;
    font-style: normal;
    font-size: 0.8rem;
    padding-right: 10px;
}



.left_align {
    text-align: left;
}
.center_align {
    text-align: center;
}


#page_footer{
    padding-top: 1.5rem;
    padding-bottom:1.5rem;
    border-top: 1px solid #eaeaea;
    font-size:15px;
    font-family: "EB Garamond", "Lora", serif;
}

.page_meta{
    margin: 0.4rem 0 0.25rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    justify-content: flex-start;
    line-height: 1.5;
}
.page_meta_links{
    color: #333;
    padding-right:10px;
}

.page_meta_links:hover{
    color: #aa2222;
}

.page_meta_descriptor{
    font-size: 16px;
    padding-right: 10px;
    color: #a22;
}



.page_title{
    font-size: 36px;
    font-weight: 800;
    font-family: "Lora", "EB Garamond", serif;
}
.page_tagline{
    font-style: italic;
    font-weight: 200;
    font-size: 18px;
    font-family: "EB Garamond", "Lora", serif;
}
.page_author{
    font-size: 18px;
    font-weight: 800;
    color: #aa2222;
    font-family: "EB Garamond", "Lora", serif;
}
.page_artist{
    font-size: 25px;
    font-weight: 800;
    color: #aa2222;
    font-family: "Lora", "EB Garamond", serif;
}
 .page_date ,  .page_location{
    font-size: 18px;
    font-family: "EB Garamond", "Lora", serif;
    font-weight: 500;
}

.page_title::selection,.page_tagline::selection,.page_author::selection,.page_date::selection,.page_location::selection,.page_artist::selection {
    background: rgba(255, 134, 0, 0.4);
}
.page_title::-moz-selection,.page_tagline::-moz-selection,.page_author::-moz-selection,.page_date::-moz-selection,.page_location::-moz-selection,.page_artist::-moz-selection {
    background: rgba(255, 134, 0, 0.4);
}

@media (max-width: 1200px) {
    .page_title{
        font-size: 30px;
        font-weight: 700;
    }

    .page_artist{
        font-size: 23px;
        font-weight: 600;
    }
    .page_author{
        font-size: 17px;
        font-weight: 700;
    }
     .page_date ,  .page_location {
        font-size: 17px;
        font-weight: 500;
    }
}
@media (max-width: 768px) {
     .page_title{
        font-size: 1.75rem;
        font-weight: 600;
    }
     .page_tagline {
        font-size: 1.1rem;
    }

     .page_artist{
        font-size: 1.25rem;
    }
     .page_date ,  .page_location,.page_author{
        font-size: 1rem;
    }
}
@media (max-width: 500px) {
     .page_title{
        font-size: 1.5rem;
    }

     .page_date ,  .page_location,.page_author{
        font-size: 0.9rem;
    }
}
.hide_it_off_screen {
    position: absolute;
    left: -10000px;
    top: -10000px;
}
.page_content {
    font-family: "EB Garamond", "Lora", serif;
}
.page_content li{
    padding-left: 1.5rem;
}
.page_inline_identifier{
    color: #a22;
    padding: 0 5px 0 0;
}

.page_pdf_embed{
    height: calc(100vh - 71px - 40px);
    width: 100%;
    margin: 0 auto;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}


@media screen and (max-width: 1200px) {
    .page_pdf_embed {
        height: calc(100vh - 81px - 33px - 40px);
    }
}
