
/*************************************************
 *  Core
 **************************************************/

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/*Fonts*/
html {
    font-family: 'Lora', TimesNewRoman, 'Times New Roman', serif;
}
nav#navbar-main{
    font-family: 'EB Garamond',serif;
}
body p {
    font-family: 'EB Garamond', serif;
    font-size: 1.1rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lora', serif;
}

html {
    font-size: 16px;
    color: rgba(0,0,0,0.8);
    line-height: 1.65;
}

@media screen and (min-width: 58em) {
    html {
        font-size: 20px;
    }
}

body {
    font-family: inherit;
    font-size: 1rem;
    line-height: inherit;
    color: inherit;
    background-color: #fff;
    margin-top: 71px; /* Offset body content by navbar height. */
    padding-top: 0;
    counter-reset: captions;
}

@media screen and (max-width: 1200px) {
    /* Match max-width of .nav-bar query. */
    body {
        margin-top: 51px; /* Offset body content by navbar height. */
    }
}

.section-heading {
    text-align: center;
    font-weight: 700;
    font-size: 2.25rem;
    margin-top: 0px;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 5px;
    color: #333;
}
.section-subheading {
    text-align: center;
    font-weight: 200;
    font-size: 1.25rem;
    margin-top: 1.5rem;
    margin-bottom: 2.5rem;
    line-height: 1.25;
    letter-spacing: 1px;
    color: #aaa;
}

.max-width-640 {
    max-width: 640px;
}

.margin-auto {
    margin-left: auto;
    margin-right: auto;
}

.center-text {
    text-align: center;
}

/* Body text */
p {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Lists */
ul, ol, dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

/* Headings */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    margin-bottom: .5rem;
    line-height: 1.25;
    color: #313131;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word; /* Ensures very long heading words do not overflow into content. */
}

h1 {
    font-size: 2.25rem;
}

h2 {
    margin-top: 1rem;
    font-size: 1.5rem;
}

h3 {
    font-weight: 700;
    margin-top: 1.5rem;
    font-size: 1.25rem;
}

h4, h5, h6 {
    font-weight: 700;
    margin-top: 1rem;
    font-size: 1rem;
}

a,
h3.article-title a:hover {
    color: #0095eb;
    text-decoration: none;
    transition: color 0.6s ease;
}

a:hover,
a:focus {
    color: #0095eb;
}

img,
video {
    height: auto;
    max-width: 100%;
    display: block;
}

video {
    width: 100%;
    height: auto;
    max-height: 400px;
}

.img-responsive {
    /* Extend Bootstrap declaration with centering. */
    margin: 0 auto;
}

figcaption {
    display: block;
    margin-top: 0.75em;
    line-height: 1.25;
    font-size: 1rem;
    margin-bottom: 1.65rem;
    font-family: 'Old Standard TT', sans-serif;
}

figcaption.numbered:before {
    font-weight: 700;
    text-transform: uppercase;
    content: attr(data-pre) counter(captions) attr(data-post);
}

figcaption.numbered {
    counter-increment: captions;
}

figcaption h4 {
    display: inline;
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
}

pre,
code {
    font-family: 'Roboto Mono', monospace;
    color: #c7254e;
    background-color: #f9f2f4;
}

pre {
    margin: 0 0 1rem 0;
    background-color: rgb(248, 248, 248); /* Match default highlight theme. */
    border-color: rgb(248, 248, 248);
}

pre code {
    white-space: pre; /* Override Bootstrap to preserve line breaks in code. */
    overflow-x: auto;
}

hr {
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

/* Quotes */
blockquote {
    padding: .5rem 1rem;
    margin: .8rem 0;
    color: #7a7a7a;
    border-left: .25rem solid #e5e5e5;
}

blockquote p:last-child {
    margin-bottom: 0;
}

@media (min-width: 30em) {
    blockquote {
        padding-right: 5rem;
        padding-left: 1.25rem;
    }
}

.markup-quote {
    background-color: transparent;
    background-image: linear-gradient(to bottom, rgba(233, 231, 245, 1), rgba(233, 231, 245, 1));
}

.space-below {
    margin-bottom: 50px;
}

@media screen and (max-width: 768px) {
    .space-below {
        margin-bottom: 10px;
    }
}

.universal-wrapper {
    margin: 0 auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 100%;
}

@media only screen and (min-width: 1001px) {
    .universal-wrapper {
        width: 1000px;
    }
}

small,
.small {
    font-size: .75em;
}

.responsive-wrap iframe {
    max-width: 100%;
}
.flex {
    display: flex;
    flex-basis: 300px;
    flex-grow: 1;
    flex-wrap: wrap;
}
.text-center {
    text-align: center;
}
.hidden{
    display: none;
}


