<style type="text/css">
    /*************************************************
     *  Footer
     **************************************************/

    footer {
        margin: 4rem 0 0;
        padding: 2rem 0;
        width: 100%;
    }

    .powered-by {
        font-size: 0.8rem;
    }

    .powered-by a {
        color: #333;
    }

    .footer_network_links a {

    }

    .footer_network_links {
        font-size: 0.9rem;
        text-align: center;
    }

    .footer_internal_links {
        font-size: 0.8em;
        text-align: right;
    }

    .footer_internal_links a {
        color: #333;
    }

    .back_to_top {
        float: right;
        font-size: 0.75rem;
    }

    .back_to_top a {
        color: #aaa;
    }


</style>