/* initialize variable check on any card_layout being carousel. Using string boolean as that gives more stable behaviour*/
{{   $.Scratch.Set "any_carousel_card_layout" "false" }}

{{range $.Params.featured_pages.sections}}
    #featured_{{.name}} .heading {
        color: {{.title_color}};
        text-align: {{.title_alignment}};
    }
    #featured_{{.name}} .subheading {
        color: {{.subtitle_color}};
        text-align: {{.subtitle_alignment}};
    }
    {{if .box_toggle}}
        #{{.name}}_cards .border_box {
            padding:{{.box_padding}};
            border-width: {{.box_border_size}};
            border-style: solid;
            border-color: {{.box_border_color}};
            box-shadow: {{ .box_shadow_horizontal_offset }} {{ .box_shadow_vertical_offset }} {{ .box_shadow_blur }} {{ .box_shadow_color }};

            {{if .clickable_card_overlay_on_hover}}
                position: relative;
            {{end}}

            overflow:auto;
        }
    {{end}}
    #{{.name}}_cards img {
        height:{{.card_image_height}};
        {{if (eq .card_layout "list")}}
            width:{{.card_image_width}};
        {{else}}
            width:100%;
        {{end}}

        {{if and (eq .card_layout "list") .show_image_on_left}}
            float: left;
            padding-right:{{.padding_image_right}};
        {{end}}
    }
    #{{.name}}_cards .details_cards {
        text-align: {{.card_alignment}};
        padding: {{.card_padding}};
        {{if .clickable_card_overlay_on_hover}}
            position: relative;
        {{end}}
        overflow:auto;
    }
    #{{.name}}_cards .details_cards .card_title{
        margin-top:{{.card_title_top_margin}};
        margin-bottom:{{.card_title_bottom_margin}};
        color: {{.card_title_font_color}};
        font-size:{{.card_title_font_size}};
        font-weight:{{.card_title_font_weight}};
        padding:{{.card_title_padding}};
        text-align:{{.card_title_text_alignment}};
    }

    #{{.name}}_cards .details_cards a:hover{
        text-decoration: none;
    }
    #{{.name}}_cards .details_cards a .card_title:hover{
        text-decoration: underline;
    }

    {{$section_name := .name}}

    {{range .fields}}
    #{{$section_name}}_cards .details_cards .card_{{.field_name}} {
        {{range .styles}}
        {{.style}}: {{.value | safeCSS}};
        {{end}}
    }
    {{end}}

    {{ if .clickable_card_overlay_on_hover }}
        .overlay {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: .5s ease;
            background-color: {{.overlay_color}};
        }

        .overlay:hover  {
            opacity: {{.overlay_opacity}};
        }
    {{ end }}
    {{if eq .card_layout "cards"}}
        #{{.name}}_cards {
            flex-wrap: wrap;
            flex-grow: 1;
            flex-shrink: 1;
            flex-basis: {{.card_min_width }};
            justify-content:space-evenly;
        }
        #{{.name}}_cards  .details_cards {
            flex-basis: {{.card_min_width}};
        }
    {{end}}
    {{if eq .card_layout "carousel"}}

        /* check if any card_layout is carousel*/
        {{$.Scratch.Set "any_carousel_card_layout" "true"}}

        #{{.name}}_cards .slick-prev:before {
            content: "{{.left_arrow_content| htmlUnescape | safeHTML}}";
            font-family: {{.left_right_arrow_font_family}};
            color: {{.left_right_arrow_colors}};
            font-size: {{.arrow_size}};
        }

        #{{.name}}_cards .slick-next:before {
            content: "{{.right_arrow_content| htmlUnescape | safeHTML}}";
            font-family: {{.left_right_arrow_font_family }};
            color: {{.left_right_arrow_colors}};
            font-size: {{.arrow_size}};
        }
    {{end}}
{{end}}
