
/*************************************************
*  Home page logo wall section
**************************************************/
section#logo-wall .heading {
    margin: 0rem 0rem -0.5rem;
    font-weight: 700;
    font-size: 2rem;
}
section#logo-wall .subheading {
    padding: 0rem 0rem 0.5rem;
    font-weight: 200;
    font-size: 1.2rem;
}
section#logo-wall #flexbox-logo-container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items:top;
    flex-wrap: wrap;
}
section#logo-wall .logo-child{
    flex-basis: {{ .Params.logo_wall.min_width_logo | safeCSS }};
    flex-grow: 1;
}

