{{ if $.Site.Params.show_cookie_consent }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.6/cookieconsent.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.0.6/cookieconsent.min.js"></script>
<script>
    window.addEventListener("load", function(){
        window.cookieconsent.initialise({
            "palette": {
                "popup": {
                    "background": "{{ .Scratch.Get "primary" }}",
                    "text": "{{ .Scratch.Get "background" }}"
                },
                "button": {
                    "background": "{{ .Scratch.Get "background" }}",
                    "text": "{{ .Scratch.Get "primary" }}"
                }
            },
            "theme": "classic",
            "content": {
                "message": {{ i18n "cookie_message" | default "This website uses cookies to ensure you get the best experience on our website." }},
        "dismiss": {{ i18n "cookie_dismiss" | default "Got it!" }},
        "link": {{ i18n "cookie_learn" | default "Learn more" }}
    }
    })});
</script>
<div id="content"></div>
{{ end }}