<style type="text/css">
    {{partial "css_scripts/comments.css" . | safeCSS }}
</style>
<section id="comments">
    <div id="disqus_thread">
    </div>
</section>
<!--Load js required for comment counting-->
{{$link := printf "//%s.disqus.com/count.js" .Site.DisqusShortname }}
{{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" .Scratch "async" true "defer" false)}}
<script type="text/javascript">
    {{ partial "js_scripts/disqus.js" .  | safeJS}}
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
