<!-- Load the data page sri.toml into a variable $sri  -->
{{ $sri := .Site.Data.sri }}

<script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', '{{ .Site.GoogleAnalytics }}', 'auto');
    {{ if .Site.Params.privacy_pack }}ga('set', 'anonymizeIp', true);{{ end }}
    ga('require', 'eventTracker');
    ga('require', 'outboundLinkTracker');
    ga('require', 'urlChangeTracker');
    ga('send', 'pageview');
</script>
<script async src="//www.google-analytics.com/analytics.js"></script>
<script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/{{$sri.js.autotrack.version}}/autotrack.js" {{ if not .Site.Params.disable_sri }} integrity="{{$sri.js.autotrack.sri}}" crossorigin="anonymous" {{end}}></script>
