<!DOCTYPE html>
<html>
<head>
    <!-- The basic headers. Find the file at layouts/partials/top_level_headers.html -->
    {{partial "top_level_headers" .}}
    <!-- The social media/sharing headers. Find the file at layouts/partials/social_headers.html -->
    {{partial "social_headers" .}}


    {{partial "load_header_css" . }}
    {{partial "load_header_js" . }}

    {{ if .Site.GoogleAnalytics }}
        {{partial "google_analytics" . }}
    {{ end }}

    {{ if or .Site.RSSLink .RSSLink }}
        {{partial "rss_header" .}}
    {{ end }}


    {{ partial "cookie_consent" . }}
    {{ partial "head_custom" . }}

</head>
<body id="top" data-spy="scroll" data-target="#navbar-main" data-offset="71">
