{{$page_var := newScratch}}

{{/*--------------------------------------------------------------------*/}}
{{/* Set from defaults (set in the caller to this page) and then delete global variable*/}}
{{$list_layout_prebuilds := ($.Scratch.Get "list_layout_prebuilds")}}{{($.Scratch.Delete "list_layout_prebuilds")}}
{{$page_name := ($.Scratch.Get "listPage_name") }}{{($.Scratch.Delete "listPage_name")}}
{{$front_matter_params := ($.Scratch.Get "front_matter_params")}}{{($.Scratch.Delete "front_matter_params")}}
{{$pages := ($.Scratch.Get "listPages")}}{{($.Scratch.Delete "listPages")}}
{{$page_var.Set "layout_data" ($.Scratch.Get "layout_defaults") }}{{($.Scratch.Delete "layout_defaults")}}

{{/* Set layout from prebuilt layouts data sheet if exists*/}}
{{range where $list_layout_prebuilds.sections ".name" $page_name }}
{{$page_var.Set "layout_data" .}}
{{end}}

{{/*Check if the individual layout elements are set in front matter and if so change layout_data*/}}
{{ $page_var.Add "layout_field_ranges" (slice "title" "subtitle" "card_layout" "sort_field" "sort_order" "num_featured" "number_in_list_page" "pagination_layout") }}
{{$section_range_context := $front_matter_params}}
{{range ($page_var.Get "layout_field_ranges")}}
{{if isset $section_range_context .}}    {{ $page_var.SetInMap "layout_data" . ( index $section_range_context .) }}    {{end}}
{{end}}
{{ $page_var.Delete "layout_field_ranges"}}
{{/*Finished loading from front matter*/}}

{{$layout_data := $page_var.Get "layout_data"}}
{{$page_var.Delete "layout_data" }}
{{/*Finished loading layout data*/}}
{{/*--------------------------------------------------------------------*/}}


{{$layout_file  := (cond (and (isset $layout_data "card_layout") (or (ne $layout_data.card_layout "") (ne $layout_data.card_layout "default"))) (print "listLayouts/" $layout_data.card_layout ".html") "listLayouts/default_listLayout.html") }}
{{$paginator := .Paginate  (cond (eq ($layout_data.sort_order| default "desc") "desc") ($pages.ByParam ($layout_data.sort_field| default "date")).Reverse ($pages.ByParam ($layout_data.sort_field| default "date")))   ($layout_data.number_in_list_page | default 10)}}
{{$pages := $paginator.Pages}}
{{$section := $page_name}}
<!--We have now set the required variables. The templating begins below-->
<h1> len = {{len $pages}}</h1>
{{partial $layout_file (dict "pages" $pages "context" ($layout_data | default .) "scratch" $.Scratch "section" $section ) | safeHTML}}
{{$.Scratch.Set "layout_data" $layout_data}}
{{partial (printf "paginationLayouts/%s.html" $layout_data.pagination_layout) . }}
{{$.Scratch.Delete "layout_data"}}




