{{ partial "css/parse_theme.css" . }}
{{ $sri := .Site.Data.sri }}


{{ if ne ($scr.Get "primary") "#3367D6" }}
    <meta name="theme-color" content="{{ $scr.Get " primary" }}">
{{ end }}


{{/* Default to enabling highlighting, but allow the user to override it in .Params or .Site.Params. Use $scr to store "highlight_enabled", so that we can read it again in footer.html. */}}
{{ $scr.Set "highlight_enabled" true }}
{{ if isset .Params "highlight" }}
    {{ $scr.Set "highlight_enabled" .Params.highlight }}
{{ else if isset .Site.Params "highlight" }}
    {{ $scr.Set "highlight_enabled" .Site.Params.highlight }}
{{ end }}


{{ if $scr.Get "highlight_enabled" }}
    {{ $v := $sri.js.highlight.version }}
    {{ with .Site.Params.highlight_style }}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/styles/{{ . }}.min.css">
{{ else }}
    {{ if eq ($scr.Get "light") true }}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/styles/github.min.css">
    {{ else }}
            <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/{{ $v }}/styles/dracula.min.css">
    {{ end }}
{{ end }}
{{ end }}
{{ if not .Site.Params.disable_sri }}
{{ printf "<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/%s/css/bootstrap.min.css\"integrity=\"%s\" crossorigin=\"anonymous\">" $sri.css.bootstrap.version $sri.css.bootstrap.sri | safeHTML }}
{{ printf "<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/academicons/%s/css/academicons.min.css\"integrity=\"%s\" crossorigin=\"anonymous\">" $sri.css.academicons.version $sri.css.academicons.sri | safeHTML }}
{{ printf "<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/%s/css/font-awesome.min.css\"integrity=\"%s\" crossorigin=\"anonymous\">" $sri.css.fontAwesome.version $sri.css.fontAwesome.sri | safeHTML }}
{{ printf "<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/fancybox/%s/jquery.fancybox.min.css\"integrity=\"%s\" crossorigin=\"anonymous\">" $sri.css.fancybox.version $sri.css.fancybox.sri | safeHTML }}
{{ if or (eq .Site.Params.map 2) (eq .Site.Params.map 3) }}
{{ printf "<link rel=\"stylesheet\" href=\"https://cdnjs.cloudflare.com/ajax/libs/leaflet/%s/leaflet.css\" integrity=\"%s\"crossorigin=\"anonymous\">" $sri.css.leaflet.version $sri.css.leaflet.sri | safeHTML }}
{{ end }}
{{ else }}
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/{{- $sri.css.bootstrap.version -}}/css/bootstrap.min.css">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/academicons/{{- $sri.css.academicons.version -}}/css/academicons.min.css">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/{{- $sri.css.fontAwesome.version -}}/css/font-awesome.min.css">
<link rel="stylesheet"
      href="//cdnjs.cloudflare.com/ajax/libs/fancybox/{{- $sri.css.fancybox.version -}}/jquery.fancybox.min.css"
      media="screen">
{{ if or (eq .Site.Params.map 2) (eq .Site.Params.map 3) }}
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/leaflet/{{- $sri.css.leaflet.version -}}/leaflet.css">
{{ end }}
{{ end }}
{{/* We cannot use SRI with Google Fonts because the CSS is dynamically generated according to the user agent */}}
{{ with ($scr.Get "google_fonts") }}
<link rel="stylesheet" href="{{ printf "//fonts.googleapis.com/css?family=%s" . }}">
{{ end }}
<link rel="stylesheet" href="{{ " styles.css    " | relLangURL }}">
{{ range .Site.Params.custom_css }}
<link rel="stylesheet" href="{{ "    /css/" | relURL }}{{ . }}">
{{ end }}