
{{ $sri := .Site.Data.sri }}
{{ $scr := .Scratch }}

<!-- Not doing SRI check for below guys as if the highlight style changes the SRI check fails -->
{{if or (isset $.Params "highlight") (isset $.Site.Params "highlight") }}
    {{if (isset $.Params "highlight_style") }}
        {{$link := (printf "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/%s.min.css" $.Params.highlight_style) }}
        {{partial "functions/load_external_css.html" (dict "external_url" $link "scratch" .Scratch)}}
    {{else if (isset $.Site.Params "highlight_style")}}
        {{$link := (printf "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/%s.min.css" $.Site.Params.highlight_style) }}
        {{partial "functions/load_external_css.html" (dict "external_url" $link "scratch" .Scratch)}}
    {{else}}
        {{partial "functions/load_external_css.html" (dict "external_url" "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css" "scratch" .Scratch)}}
    {{end}}
{{ end }}

<!-- bootstrap -->
{{partial "functions/load_external_css.html" (dict "external_url" "https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" "scratch" .Scratch)}}
<!--<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.1/css/bootstrap.min.css">-->


<!-- fontawesome -->
{{partial "functions/load_external_css.html" (dict "external_url" "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" "scratch" .Scratch)}}


<!--We cannot use SRI with Google Fonts because the CSS is dynamically generated according to the user agent  -->
{{ with (.Scratch.Get "google_fonts") }}
<link rel="stylesheet" href="//fonts.googleapis.com/css?family={{.}}">
{{ end }}
<link rel="stylesheet" href="/styles.css">

{{ range .Site.Params.custom_css }}
    <link rel="stylesheet" href="/css/{{ . }}">
{{ end }}
