

{{if or (isset $.Params "highlight") (isset $.Site.Params "highlight") }}
    {{if (isset $.Params "highlight_style") }}
        {{$link := (printf "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/%s.min.css" $.Params.highlight_style) }}
        {{partial "functions/load_external_css.html" (dict "external_url" $link "scratch" .Scratch)}}
    {{else if (isset $.Site.Params "highlight_style")}}
        {{$link := (printf "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/%s.min.css" $.Site.Params.highlight_style) }}
        {{partial "functions/load_external_css.html" (dict "external_url" $link "scratch" .Scratch)}}
    {{else}}
        {{partial "functions/load_external_css.html" (dict "external_url" "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github-gist.min.css" "scratch" .Scratch)}}
    {{end}}
{{ end }}



<!-- fontawesome -->
{{partial "functions/load_external_css.html" (dict "external_url" "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" "scratch" .Scratch)}}
<!--Load the core css of site-->
{{ range $.Site.Params.google_fonts }}
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ replace . " " "+" | safeURL}}">
{{ end }}



<style type="text/css">{{partial "css_scripts/core.css" . | safeCSS}}</style>


<link rel="stylesheet" type="text/css" href="/styles.css">

{{ range .Site.Params.custom_css }}
    <link rel="stylesheet" type="text/css" href="/css/{{ . }}">
{{ end }}
