{{ $scratch := .Scratch }}
<!--Code highlighting render. Note that highlight.min.js covers all common languages and the languages need to be mentioned only if uncommon-->
{{if or (isset $.Params "highlight") (isset $.Site.Params "highlight") }}
{{if or ($.Params.highlight) ($.Site.Params.highlight) }}
    {{if not (eq (len (union $.Site.Params.highlight_languages $.Params.highlight_languages)) 0)}}
            {{partial "functions/load_external_js.html" (dict "external_url" "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js" "scratch" $scratch "async" true "defer" true)}}
        {{range union $.Site.Params.highlight_languages $.Params.highlight_languages}}
            {{$link := (printf "//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/%s.min.js" .) }}
            {{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" $scratch "async" true "defer" true)}}
        {{end}}
        <script>hljs.initHighlightingOnLoad();</script>
    {{end}}
{{end}}
{{end}}

<!-- LaTeX math rendering -->
{{ if and .Params.math .Site.Params.math }}
<script type="text/x-mathjax-config">
    MathJax.Hub.Config({ tex2jax: { inlineMath: [['$','$'], ['\\(','\\)']] } });
</script>
{{partial "functions/load_external_js.html" (dict "external_url" "https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/config/TeX-AMS_CHTML.js" "scratch" .Scratch "async" true "defer" true)}}
{{ end }}
