{{ if .Site.Params.sharing }}
    <style type="text/css">
        {{partial "css_scripts/sharer.css" . | safeCSS}}

    </style>
    <div class="share-box" aria-hidden="true">
        <ul class="share">
            <li>
                <a class="twitter"
                   href="https://twitter.com/intent/tweet?text={{ .Title | html }}&amp;url={{ .RelPermalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="facebook"
                   href="https://www.facebook.com/sharer.php?u={{ .RelPermalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a class="linkedin"
                   href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .RelPermalink | html }}&amp;title={{ .Title | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a class="googleplus"
                   href="https://plus.google.com/share?url={{ .RelPermalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a class="mailto"
                   href="mailto:?subject={{ .Title | html }}&amp;body={{ .RelPermalink | html }}">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
{{ end }}
