{{ if .Site.Params.sharing }}
    <style type="text/css">

        /*************************************************
         *  Sharing
         **************************************************/

        .share-box {
            float: right;
        }

        ul.share {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            list-style: none;
            margin: 0;
            padding: 0;
        }

        ul.share li {
            display: inline-flex;
            margin-right: 5px;
        }

        ul.share li:last-of-type {
            margin-right: 0;
        }

        ul.share li .fa {
            display: block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            font-size: 16px;
            text-align: center;
            transition: all 150ms ease-in-out;
            color: #fff;
        }

        ul.share li a {
            background-color: #b5c6ce;
            display: block;
            border-radius: 50%;
            text-decoration: none !important;
            margin: 0;
        }

        ul.share li:hover .fa {
            transform: scale(1.4)
        }
    </style>
    <div class="share-box" aria-hidden="true">
        <ul class="share">
            <li>
                <a class="twitter"
                   href="https://twitter.com/intent/tweet?text={{ .Title | html }}&amp;url={{ .Permalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i>
                </a>
            </li>
            <li>
                <a class="facebook"
                   href="https://www.facebook.com/sharer.php?u={{ .Permalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-facebook"></i>
                </a>
            </li>
            <li>
                <a class="linkedin"
                   href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | html }}&amp;title={{ .Title | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <a class="googleplus"
                   href="https://plus.google.com/share?url={{ .Permalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-google-plus"></i>
                </a>
            </li>
            <li>
                <a class="mailto"
                   href="mailto:?subject={{ .Title | html }}&amp;body={{ .Permalink | html }}">
                    <i class="fa fa-envelope"></i>
                </a>
            </li>
        </ul>
    </div>
{{ end }}
