<!--Standard Social Media Tag Template: Article as per MOZ https://moz.com/blog/meta-data-templates-123-->
<!-- Schema.org markup for Google+ -->
<meta itemprop="name" content={{ if eq .Title .Site.Title }}"{{ .Title }}"{{ else }}"{{ .Title }} - {{ .Site.Title }}"{{ end }}>
<meta itemprop="description" content={{ if (isset .Params "summary_content") }}"{{.Params.summary_content}}"{{else}}"{{ .Site.Params.default_description }}"{{ end }}>
<meta itemprop="image" content={{ if (isset .Params "caption_image") }}"{{.Params.caption_image | absURL}}"{{else}}"{{ (printf "%s" $.Site.Params.logo) | absURL }}"{{ end }}>


<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content={{if (isset .Site.Params "twitter_site_handle") }}"{{ .Site.Params.twitter_site_handle }}"{{else}}""{{ end }}>
<meta name="twitter:title" content={{ if eq .Title .Site.Title }}"{{ .Title }}"{{ else }}"{{ .Title }} - {{ .Site.Title }}"{{ end }}>
<meta name="twitter:description" content={{ if (isset .Params "summary_content") }}"{{.Params.summary_content}}"{{else}}"{{ .Site.Params.default_description }}"{{ end }}>
{{if (isset .Site.Params "twitter_creator_handle") }} <meta name="twitter:creator" content="{{ .Site.Params.twitter_creator_handle }}" >{{ end }}
<!--Twitter Summary card images must be at least 120x120px-->
<meta name="twitter:image" content={{ if (isset .Params "caption_image") }}"{{.Params.caption_image | absURL}}"{{else}}"{{ (printf "%s" $.Site.Params.logo) | absURL }}"{{ end }}>

<!-- Open Graph data -->
<meta property="og:title" content={{if (isset .Site.Params "twitter_site_handle") }}"{{ .Site.Params.twitter_site_handle }}"{{else}}""{{ end }} >
<meta property="og:type" content="article" >
<meta property="og:url" content="{{ .Permalink }}" >
<meta property="og:image" content={{ if (isset .Params "caption_image") }}"{{.Params.caption_image | absURL}}"{{else}}"{{ (printf "%s" $.Site.Params.logo) | absURL }}"{{ end }}>
<meta property="og:description" content={{ if (isset .Params "summary_content") }}"{{.Params.summary_content}}"{{else}}"{{ .Site.Params.default_description }}"{{ end }}>
<meta property="og:site_name" content="{{.Site.Title}}">
<!--The meta property "fb:admins" requires that you enter your numeric Facebook id number, and gives you access to analytics about how your website content is shared on Facebook-->
{{if (isset .Site.Params "facebook_admin_handle") }}<meta property="fb:admins" content="{{.Site.Params.facebook_admin_handle}}" >{{ end }}
