{{ partial "header.html" . }}
{{ partial "navbar.html" . }}
<div class="container">

    <H1 class="404 page_title" id="404_title">404</H1>

    <H2 class="404" id="404_subtitle">
        Looks like you are lost. But now that you are here, maybe i can make you happy
    </H2>
    <div class="404 youtube" id="404_first_youtube">
        {{ partial "youtube" "drzq1x0mqjo" }}
    </div>
    <div>
        <H3>Y you no smile yet??</H3>
    </div>
    <div class="404 youtube" id="404_second_youtube">
        {{ partial "youtube" "X1rMtiSfpFU" }}
    </div>
</div>
{{ partial "footer_container.html" . }}
{{ partial "footer.html" . }}
