{{ define "main" }}
    {{if .Params.top_banner.active}}
        {{partial "homepage-sections/top_banner.html" .}}
    {{end}}
    {{if .Params.showcase.active}}
        {{partial "homepage-sections/showcase.html" .}}
    {{end}}
    {{if .Params.about_us.active}}
        {{partial "homepage-sections/about_us.html" .}}
    {{end}}
    {{if .Params.logo_wall.active}}
        {{partial "homepage-sections/logo_wall.html" .}}
    {{end}}
    {{if .Params.featured_pages.active}}
        {{partial "homepage-sections/show_featured.html" .}}
    {{end}}
    {{if .Params.cta.active}}
    {{partial "homepage-sections/cta.html" .}}
    {{end}}
    {{if .Params.contact.active}}
        {{partial "homepage-sections/contact.html" .}}
    {{end}}

{{ end }}
