{{$link := "https://unpkg.com/applause-button/dist/applause-button.css"}}
{{partial "functions/load_external_css.html" (dict "external_url" $link "scratch" .Scratch)}}
{{$link := "https://unpkg.com/applause-button/dist/applause-button.js"}}
{{partial "functions/load_external_js.html" (dict "external_url" $link "scratch" .Scratch "async" false "defer" false)}}
<style type="text/css">
    {{partial "css_scripts/applause_button.css" . | safeCSS}}
</style>
<div class="applause_button_container">
    <applause-button id="applause_button" multiclap="true" color="#0095eb" >
    </applause-button>
</div>
