<aside class = "popup">
    <header>
        {{partial "functions/load_external_js.html" (dict "external_url" "https://stackpath.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.j" "scratch" .Scratch "async" false "defer" false)}}
        <script type="text/javascript">
             {{ partial "js_scripts/popup.js" . | safeJS }}
        </script>
        <style type="text/css">
            {{ partial "css_scripts/popup_style.css" . | safeCSS }}
        </style>

    </header>

    <button id="popup_activation_button" class="pull-right popup-float" style = "background: {{$.Site.Params.popup.popup_button_color}}; border-color: {{$.Site.Params.popup.popup_button_color}}">
        <i class="fa {{.Site.Params.popup.pullup_button_icon}} popup-float-button" style = "color:{{$.Site.Params.popup.pullup_button_icon_color}}"></i>
    </button>

    <div id="subscription_popup">
        <div class="popup_container">
            <div class ="popup_header flex">
                <h2 class="popup_heading" >{{$.Site.Params.popup.title}}</h2>
                <a href="#" id = "popup_closer" class="close"></a>

            </div>
            <div class="popup_body flex">
                <div id="popup_content">
                    <h3 class="modal-subtitle" style = "color:{{$.Site.Params.popup.subtitle_color}}; padding: 1rem 0rem 2rem">{{$.Site.Params.popup.subtitle}}</h3>
                    <form
                            method="POST"
                            name="sentMessage"
                            id="popupForm" action="{{- printf "//formspree.io/%s" (or .Params.email .Site.Params.email) -}}"
                    >
                    <fieldset>
                        {{ range $.Site.Params.popup.form_inputs}}
                        <div class="form-group">
                            <input class="form-control" id="{{- .name -}}" required="{{- .required -}}" type="{{- .type -}}" name="{{- .name -}}" autocomplete="{{- .autocomplete -}}"
                                   placeholder="{{ with .helper_text }}{{ .  | markdownify }}{{ end }}">
                        </div>
                        {{ end }}
                        <br>
                        {{if isset $.Site.Params.popup "link_after_submit"}}
                        <input type="hidden" name="_next" value="{{ .Permalink | default $.Site.Params.popup.link_after_submit}}">
                        {{end}}
                        {{if isset $.Site.Params.popup "popup_submission_subject"}}
                        <input type="hidden" name="_subject" value="{{$.Site.Params.popup.popup_submission_subject}}">
                        {{end}}
                        <!--Below is a honeypot field-->
                        <input type="text" name="_gotcha" style="display:none">
                        <!--Below we cc emails to all those listen in the secondary emails list on config.toml-->
                        {{if isset $.Site.Params "secondary_forwarding_emails"}}
                        {{range $.Site.Params.secondary_forwarding_emails}}
                        <input type="hidden" name="_cc" value="{{- . -}}">
                        {{end}}
                        {{end}}

                        <button id="popup_submit_btn" type="submit" value="Submit" class="btn btn-primary btn-xl">
                            <span>{{ $.Site.Params.popup.submit_text }}</span>
                        </button>
                    </fieldset>
                </div>
                <div class="popup_image_wrapper">
                    <img class = "popup_image" src="/img/flowers_line_drawing.png">
                </div>
            </div>
        </div>
    </div>


</aside>