<aside class="sharer">
    <header>
        <script type="text/javascript">
            {{ partial "js_scripts/sharer.js" . | safeJS }}
        </script>

        <style type="text/css">
            {{ partial "css_scripts/sharer_styles.css" . | safeCSS }}
        </style>

    </header>
    {{if and $.Site.Params.sharer.sharer_rollup_button_active $.Params.rollup_sharer_active}}
        <div id="floating_sharer">
            <button class="sharer-opener" id="share_menu_activation_button" style = "background: {{$.Site.Params.sharer.sharer_button_color}}; border-color: {{$.Site.Params.sharer.sharer_button_color}}">
                <i class="fa {{$.Site.Params.sharer.sharer_pullup_button_icon}} sharer-float-button"></i>
            </button>
            <div class="sharer_socials" id="toggled_social_shares">
                <a class="twitter"
                   href="https://twitter.com/intent/tweet?text={{ .Title | html }}&amp;url={{ .Permalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-twitter"></i>
                </a>
                <a class="facebook"
                   href="https://www.facebook.com/sharer.php?u={{ .Permalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-facebook"></i>
                </a>
                <a class="linkedin"
                   href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | html }}&amp;title={{ .Title | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-linkedin"></i>
                </a>
                <a class="googleplus"
                   href="https://plus.google.com/share?url={{ .Permalink | html }}"
                   target="_blank" rel="noopener">
                    <i class="fa fa-google-plus"></i>
                </a>
                <a class="mailto"
                   href="mailto:?subject={{ .Title | html }}&amp;body={{ .Permalink | html }}">
                    <i class="fa fa-envelope"></i>
                </a>
            </div>
        </div>
    {{end}}

    {{if and $.Site.Params.sharer.sharer_fixed_menu_active $.Params.fixed_sharer_active}}
        <div class="sharer_socials_fixed" id="fixed_social_shares" {{if $.Site.Params.sharer.show_menu_on_scroll}} style="display:none" {{end}}>
            <a href="https://twitter.com/intent/tweet?text={{ .Title | html }}&amp;url={{ .Permalink | html }}"
               target="_blank" rel="noopener">
                <div class="twitter">
                    <i class="fa fa-twitter"></i>
                </div>
            </a>
            <a href="https://www.facebook.com/sharer.php?u={{ .Permalink | html }}"
               target="_blank" rel="noopener">
                <div class="facebook">
                    <i class="fa fa-facebook"></i>
                </div>
            </a>
            <a href="https://www.linkedin.com/shareArticle?mini=true&amp;url={{ .Permalink | html }}&amp;title={{ .Title | html }}"
               target="_blank" rel="noopener">
                <div class="linkedin">
                    <i class="fa fa-linkedin"></i>
                </div>
            </a>
            <a href="https://plus.google.com/share?url={{ .Permalink | html }}"
               target="_blank" rel="noopener">
                <div class="googleplus">
                    <i class="fa fa-google-plus"></i>
                </div>
            </a>
            <a href="mailto:?subject={{ .Title | html }}&amp;body={{ .Permalink | html }}">
                <div class="mailto">
                    <i class="fa fa-envelope"></i>
                </div>
            </a>
        </div>
    {{end}}


</aside>